/*
---------------------------
Section : Fonts
---------------------------
*/

/*
---------------------------
Section : Media Queries
---------------------------
*/

@media only screen and (max-width: 767px) {
  .logo-img {
    width: 50%;
    margin-top: 1.5em;
  }

  .top-margin {
    margin-top: 2em;
  }

  .bottom-margin {
    margin-bottom: 3em;
  }
}

@media only screen and (max-width: 468px) {
  .left-padding {
    padding-left: 2.5em;
  }

  .logo-img {
    padding: 0 0 1.5em 1.5em;
  }
}

/*
---------------------------
Section : Helper Classes
---------------------------
*/

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.right-border {
  border-right: 2px solid white;
}

.right-border-grey {
  border-right: 2px solid #e3e3e3;
}

.input {
  padding: .6em 4em .6em 1em;
  border-radius: .5em;
  border: 1px solid white;
  box-shadow: inset -5px 5px 10px 0px #b7b9bb;
  color: #bcbec0;
}

a,
a:hover,
a:active,
a:focus,
a:focus {
  color: #ffffff;
}

a.sidebar-item,
a:hover.sidebar-item,
a:active.sidebar-item,
a:focus.sidebar-item,
a:focus.sidebar-item {
  text-decoration: none;
  color: #82888f;
}

.button {
  text-align: center;
  background: #a9abae;
  padding: .4em 1em .4em 1em;
  border-radius: .5em;
  box-shadow: inset -5px 5px 10px 0px #77787b;
  border: 1px solid white;
}

.button_type {
  display: inline-block;
  color: black;
  padding: 0.5em 1em;
  border-radius: 0.25em;
}

.button_type_1 {
  display: inline-block;
  color: black;
  padding: 0.5em 1em;
  border-radius: 0.25em;
  background-color: #cde8f4;
  cursor: pointer;
}

.button_type_2 {
  display: inline-block;
  color: black;
  padding: 0.5em 1em;
  border-radius: 0.25em;
  background-color: transparent;
  border: solid 1px;
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

.center-align {
  text-align: center;
}

.appointment_info {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 6em 10em 2em 10em;
}

.appointment_info > .col-xs-4 {
  padding: 0px;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.appointment_info_box {
  margin: 1em 2px;
  border: solid 1px #fff;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.appointment_message {
  border-bottom: solid 2px #fff;
  margin: 3em 10em 1em 10em;
}

.appointment_message > p {
  text-align: left;
}

.appointment_confirm > p > button {
  background: transparent;
  color: #fff;
  border-radius: 4px;
  border: solid 2px #fff;
  padding: 5px 20px;
}

.appointment_confirm > p > button:hover {
  background: #fff;
  color: black;
}

h4.schedule_place {
  padding-top: 10px;
}

.appointment_confirmed > button {
  background: #fff;
  color: green;
  border-radius: 4px;
  border: solid 2px #fff;
  padding: 5px 20px;
}
