.search {
  float: right;
  display: inline-block;
  background: rgba(255, 255, 255, 0.8);
  padding: .1em .1em;
  margin-right: -15px;
  cursor: pointer;
  border-top-left-radius: .5em;
  border-bottom-left-radius: .5em;
}

.search > .glyphicon-chevron-left {
  color: #9d9fa2;
  margin-right: -5px;
}

.search > .glyphicon-search {
  color: #f15a24;
  margin-right: 5px;
}

.overview {
  margin: 1em 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}

.overview_section {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  padding: 0;
}

.info_box {
  width: 100%;
  border-radius: .5em;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 15px;
  overflow: hidden;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.info_section {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 0 .2em .2em;
  margin: 0;
  width: 100%;
  cursor: pointer;
}

.top {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 100%;
}

.circle {
  margin: .95em .4em;
  width: .8em;
  height: .8em;
  border-radius: 50%;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.circle.green {
  background: #34a853;
}

.circle.yellow {
  background: #fbbc05;
}

.circle.red {
  background: #ea4335;
}

.info_section_number {
  background-color: #0071bc;
  padding: 5px;
  font-size: 1.5em;
  margin-bottom: .2em;
  text-align: center;
  word-break: break-all;
}

.info_section_title {
  padding: 11px 2px;
  color: #0071bc;
  font-size: .85em;
}

.section_break {
  border-bottom: solid 2px #00b6f1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.bottom {
  width: 100%;
  text-align: center;
  color: #fff;
  background-color: #006d91;
  padding: 1em 0;
  font-size: 1em;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.bottom > p {
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.right {
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.left {
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
