/*
---------------------------
Section : Imports
---------------------------
*/

/*
---------------------------
Section : Fonts
---------------------------
*/

/*
---------------------------
Section : Media Queries
---------------------------
*/

@media only screen and (max-width: 468px) {
  .left-padding {
    padding-left: 2.5em;
  }

  .logo-img {
    padding: 0 0 1.5em 1.5em;
  }
}

@media only screen and (min-width: 469px) and (max-width: 767px) {
  .logo-img {
    width: 50%;
    margin-top: 1.5em;
  }

  .top-margin {
    margin-top: 2em;
  }

  .bottom-margin {
    margin-bottom: 3em;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  body {
    font-size: 14px;
  }
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
  body {
    font-size: 14px;
  }
}

@media only screen and (min-width: 1201px) and (max-width: 1800px) {
  body {
    font-size: 15px;
  }
}

@media only screen and (min-width: 1801px) and (max-width: 2200px) {
  .col-xl-2 {
    width: 20%;
  }

  body {
    font-size: 16px;
  }
}

@media only screen and (min-width: 2201px) {
  body {
    font-size: 17px;
  }

  .col-xl-2 {
    width: 20%;
  }
}

/*
---------------------------
Section : Helper Classes
---------------------------
*/

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.right-border {
  border-right: 2px solid white;
}

.right-border-grey {
  border-right: 2px solid #e3e3e3;
}

.input {
  padding: .6em 4em .6em 1em;
  border-radius: .5em;
  border: 1px solid white;
  box-shadow: inset -5px 5px 10px 0px #b7b9bb;
  color: #bcbec0;
}

a,
a:hover,
a:active,
a:focus,
a:focus {
  color: #ffffff;
}

a.sidebar-item,
a:hover.sidebar-item,
a:active.sidebar-item,
a:focus.sidebar-item,
a:focus.sidebar-item {
  text-decoration: none;
  color: #82888f;
}

.button {
  text-align: center;
  background: #a9abae;
  padding: .4em 1em .4em 1em;
  border-radius: .5em;
  box-shadow: inset -5px 5px 10px 0px #77787b;
  border: 1px solid white;
}

.button_type {
  display: inline-block;
  color: black;
  padding: 0.5em 1em;
  border-radius: 0.25em;
}

.button_type_1 {
  display: inline-block;
  color: black;
  padding: 0.5em 1em;
  border-radius: 0.25em;
  background-color: #cde8f4;
  cursor: pointer;
}

.button_type_2 {
  display: inline-block;
  color: black;
  padding: 0.5em 1em;
  border-radius: 0.25em;
  background-color: transparent;
  border: solid 1px;
  cursor: pointer;
}

.button_type_3 {
  display: inline-block;
  color: white;
  background-color: #f13923;
  cursor: pointer;
  border-radius: 0.25em;
  padding: 0.25em 0.25em;
  font-size: .8em;
  position: absolute;
  right: 0px;
}

.bold {
  font-weight: bold;
}

.center-align {
  text-align: center;
}

.search {
  display: inline-block;
  position: absolute;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
  padding: .1em .1em;
  margin-right: -15px;
  z-index: 1;
  border-top-left-radius: .5em;
  border-bottom-left-radius: .5em;
  box-shadow: -2px 0 2px #0071bc;
}

.search > .glyphicon-chevron-left {
  color: #9d9fa2;
  margin-right: -5px;
  cursor: pointer;
}

.search > .glyphicon-chevron-right {
  color: #9d9fa2;
  margin-right: -5px;
  cursor: pointer;
}

.search > .glyphicon-search {
  color: #f15a24;
  margin-right: 25px;
}

.search > .glyphicon-search.active {
  cursor: pointer;
}

.search.active {
  background-color: #fff;
}

input#search_data {
  display: none;
  padding-left: .5em;
  border: none;
  border-radius: .5em;
  width: 8em;
  font-size: .8em;
  color: #9d9fa2;
}

input#search_data:focus {
  outline: none;
}

input#search_data.active {
  display: inline-block;
}

.search_result {
  display: none;
}

.search_result.active {
  display: block;
}

.search_result > .search_result_row {
  color: black;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 5px;
  font-size: .6em;
  margin: 0 5px 0 10px;
  text-align: left;
  border-top: solid 1px #ddd;
}

.search_result > .search_result_row > .circle {
  padding: 0;
  margin: 5px;
}

.search_result > .search_result_row > .col-xs-offset-2 {
  margin-left: 11.666667%;
}

.search_result > .search_result_row > .search_result_row_text > p {
  padding: 0;
  margin: 0;
}

.overview {
  margin: 1em 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}

.overview_section {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  padding: 0;
}

.info_box {
  width: 100%;
  border-radius: .5em;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 15px;
  overflow: hidden;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.info_section {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 0 .2em .2em;
  margin: 0;
  width: 100%;
  cursor: pointer;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.top {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 100%;
}

.circle {
  margin: .8em .5em 1.35em 0;
  width: .8em;
  height: .8em;
  border-radius: 50%;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.circle.green {
  background: #34a853;
}

.circle.yellow {
  background: #fbbc05;
}

.circle.red {
  background: #ea4335;
}

.info_section_number {
  background-color: #0071bc;
  padding: 5px;
  font-size: 1.5em;
  margin-bottom: .2em;
  text-align: center;
  min-width: 60%;
}

.info_section_title {
  padding: 11px 2px 11px 11px;
  color: #0071bc;
  font-size: .85em;
  width: 70%;
  word-break: break-word;
}

.section_break {
  border-bottom: solid 2px #00b6f1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.bottom {
  width: 100%;
  text-align: center;
  color: #fff;
  background-color: #006d91;
  padding: 1em 0;
  font-size: 1em;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.bottom > p {
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.right {
  display: inherit;
  width: 30%;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-left: auto;
}

.drilldown {
  display: none;
}

.drilldown.active {
  display: block;
}

.drilldown > .section-header,
.drilldown > .subsection-header {
  text-align: left;
  background-color: transparent;
  color: #fff;
}

.drilldown > .section-header > .circle,
.drilldown > .subsection-header > .circle {
  margin: .35em .5em 1.35em;
}

.subsection-header {
  display: none;
}

.subsection-header.active {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.search_header {
  margin: 1em;
  border-bottom: 1.5px solid #fff;
  color: #000;
  text-align: left;
  font-weight: 600;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.search_header > .drilldown_header_item {
  margin-top: auto;
}

.drilldown_item {
  margin: 1em;
  border-bottom: 1px solid #fff;
  color: #f2f2f2;
  cursor: pointer;
}

.drilldown_item:hover {
  color: #fff;
}

.c3_sidebar_item {
  padding: 1em 1em 1em 2em;
  font-size: 1.2em;
}

.c3_sidebar_item > p {
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.c3_sidebar_item:hover {
  background-color: #d2d3d5;
  font-weight: 600;
}

.sidebar_items_active {
  background-color: #cbcbcb;
  border-left: solid 0.7em #82888f;
  font-weight: 600;
}
