/*
---------------------------
Section : Imports
---------------------------
*/

/*
---------------------------
Section : Fonts
---------------------------
*/

/*
---------------------------
Section : Media Queries
---------------------------
*/

@media only screen and (max-width: 468px) {
  .left-padding {
    padding-left: 2.5em;
  }

  .logo-img {
    padding: 0 0 1.5em 1.5em;
  }
}

@media only screen and (min-width: 469px) and (max-width: 767px) {
  .logo-img {
    width: 50%;
    margin-top: 1.5em;
  }

  .top-margin {
    margin-top: 2em;
  }

  .bottom-margin {
    margin-bottom: 3em;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  body {
    font-size: 14px;
  }
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
  body {
    font-size: 14px;
  }
}

@media only screen and (min-width: 1201px) and (max-width: 1800px) {
  body {
    font-size: 15px;
  }
}

@media only screen and (min-width: 1801px) and (max-width: 2200px) {
  .col-xl-2 {
    width: 20%;
  }

  body {
    font-size: 16px;
  }
}

@media only screen and (min-width: 2201px) {
  body {
    font-size: 17px;
  }

  .col-xl-2 {
    width: 20%;
  }
}

/*
---------------------------
Section : Helper Classes
---------------------------
*/

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.right-border {
  border-right: 2px solid white;
}

.right-border-grey {
  border-right: 2px solid #e3e3e3;
}

.input {
  padding: .6em 4em .6em 1em;
  border-radius: .5em;
  border: 1px solid white;
  box-shadow: inset -5px 5px 10px 0px #b7b9bb;
  color: #bcbec0;
}

a,
a:hover,
a:active,
a:focus,
a:focus {
  color: #ffffff;
}

a.sidebar-item,
a:hover.sidebar-item,
a:active.sidebar-item,
a:focus.sidebar-item,
a:focus.sidebar-item {
  text-decoration: none;
  color: #82888f;
}

.button {
  text-align: center;
  background: #a9abae;
  padding: .4em 1em .4em 1em;
  border-radius: .5em;
  box-shadow: inset -5px 5px 10px 0px #77787b;
  border: 1px solid white;
}

.button_type {
  display: inline-block;
  color: black;
  padding: 0.5em 1em;
  border-radius: 0.25em;
}

.button_type_1 {
  display: inline-block;
  color: black;
  padding: 0.5em 1em;
  border-radius: 0.25em;
  background-color: #cde8f4;
  cursor: pointer;
}

.button_type_2 {
  display: inline-block;
  color: black;
  padding: 0.5em 1em;
  border-radius: 0.25em;
  background-color: transparent;
  border: solid 1px;
  cursor: pointer;
}

.button_type_3 {
  display: inline-block;
  color: white;
  background-color: #f13923;
  cursor: pointer;
  border-radius: 0.25em;
  padding: 0.25em 0.25em;
  font-size: .8em;
  position: absolute;
  right: 0px;
}

.bold {
  font-weight: bold;
}

.center-align {
  text-align: center;
}

.add-btn,
.add-btn:hover {
  float: right;
  color: #fff;
  background-color: #0086fb;
  border-color: #0086fb;
}

.patient_list {
  overflow-y: scroll;
  display: none;
}

.patient_list.active {
  display: block;
}

.patient_list_item {
  border-top: 1px solid;
  opacity: 0.9;
  cursor: pointer;
}

.patient_list_item:hover {
  opacity: 1;
}

.patient_info {
  display: none;
  margin-top: 2em;
}

.patient_info > .patient_table_header {
  border-bottom: 2px solid #fff;
  border-top: 1px solid #fff;
  color: #000;
  padding: 0.5em 15px;
  margin: 1em 0;
}

.patient_info.active {
  display: block;
}

.import-btn {
  background: transparent;
  color: #cde8f4;
  border: 1px solid;
}

.import-btn:hover {
  color: black;
  background-color: #cde8f4;
  border-color: #cde8f4;
}

#search_patient_button {
  cursor: pointer;
}

.select_provider_button {
  display: none;
}

.select_provider_button.active {
  display: inline-block;
}

.search_filter {
  color: black;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-left: 1px;
  padding-top: 4px;
}

.search_filter_item {
  background: #f5f5f5;
  padding: 2px 5px 2px 5px;
  border: dashed 2px;
  border-radius: 5px;
  margin: 2px;
}

.search_filter_item > .remove_option {
  color: red;
  cursor: pointer;
  margin: 1px;
}

.add_search_option {
  padding-right: 25px;
}

#add_search_option {
  position: inherit;
  cursor: pointer;
}

.lastseen_content {
  visibility: hidden;
}

.lastseen_content.active {
  visibility: visible;
}

.action-btns {
  position: absolute;
  display: none;
  right: 0;
  top: 0;
}

.action-btns.active {
  display: block;
}

.lastseenby_show {
  cursor: pointer;
}

.referredby_content {
  visibility: hidden;
}

.referredby_content.active {
  visibility: visible;
}

.referredby_show {
  cursor: pointer;
}

.insurance_provider_show {
  cursor: pointer;
}

.insurance_provider_content {
  visibility: hidden;
}

.insurance_provider_content.active {
  visibility: visible;
}

/*
----------------------
Patient admin section
-----------------------
*/

.back {
  color: #f2f2f2;
  background-color: #808080;
  padding: 6px 22px;
}

.back:hover {
  color: #f2f2f2;
}

.add_header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

p.add_title {
  font-size: 1.5em;
  margin-bottom: 0;
  margin-left: 1em;
  margin-top: auto;
}

.add_patient_input {
  display: block;
  color: #fff;
  background-color: #0193d7;
  border: 2px solid #0193d7;
  margin: 1em;
  border-radius: .2em;
  padding: .5em;
  width: 60%;
}

.add_patient_input::-webkit-input-placeholder {
  color: #cbcbcb;
}

.add_patient_input::-moz-placeholder {
  color: #cbcbcb;
}

.add_patient_input:-ms-input-placeholder {
  color: #cbcbcb;
}

.add_patient_input::placeholder {
  color: #cbcbcb;
}

.add_patient_input:focus {
  border: 2px solid #fff;
}

.section-break {
  border-top: 1px solid #82888f;
  margin: 0 2em 0 2em;
}

p.address {
  margin: 0 1em;
  font-size: 1.3em;
  color: #fff;
}

.patient_action {
  display: none;
}

.patient_action.active {
  display: block;
}

.add-btn {
  float: left;
}

.add-btn:hover {
  float: left;
}