.create_practice {
    margin-top: 111px;
    width: 42em;
}

.practice_header {
    margin-top: 2em;
    font: black;
}

#create_practice {
    color: black;
}

.practice_form {
    width: 56em;
    margin-top: 9em;
    margin-left: 30%;
}

.search_header {
    margin-left: 112px;
    margin-top: 32px;
    margin-right: 62px;
    border-bottom: 1px solid #fff;
}

.search_item {
    margin-left: 112px;
    margin-top: 32px;
    margin-right: 62px;
    border-bottom: 1px solid #fff;
}

.practice_list {
    overflow-y: scroll;
    display: none;
}

.practice_list.active {
    display: block;
    overflow-y: hidden;
}

.ocuapps_input {
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-left: 1em;
}

.ocuapps_input > input {
    margin-right: 1em;
    right: 0;
}

.ocuapps_options {
    margin-left: 4em;
    margin-top: 3em;
}

.delete_practice_img {
    content: url("{{asset('images/delete.png');

}
