.create_practice {
  margin-top: 111px;
  width: 42em;
}

.practice_header {
  margin-top: 2em;
  font: black;
}

#create_practice {
  color: black;
}

.search_input_box {
  background-color: #ffffff;
  font-size: 1em;
}

.search_input_box > input,
.search_input_box > input:focus {
  width: 100%;
  border: none;
  padding: 6px 12px;
  color: #4d4d4d;
  outline: none;
}

.search_input_box > span {
  color: #0071bc;
  position: absolute;
  right: 0;
}

.glyp {
  padding-top: 8px;
  padding-right: 5px;
  cursor: pointer;
}

.import-btn {
  color: black;
  background-color: #cde8f4;
  border-color: #cde8f4;
  float: right;
}

.btn {
  padding: 6px 22px;
}

.search_input_box {
  background-color: #ffffff;
  font-size: 1em;
  padding-left: 0px;
}

.practice_form {
  width: 56em;
  margin-top: 9em;
  margin-left: 30%;
}

.search_header {
  margin: 1em;
  border-bottom: 1px solid #fff;
}

.search_name,
.search_edit {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
}

.search_item {
  margin: 1em;
  border-bottom: 1px solid #fff;
  color: #f2f2f2;
}

.search_item:hover {
  color: #fff;
}

p.search_result {
  margin: 1em;
}

p.pagination {
  color: black;
  display: inline-block;
  margin: 0px;
}

.practice_list {
  display: none;
}

.practice_list.active {
  display: block;
}

.p_right,
.p_left {
  cursor: pointer;
}

.ocuapps_input {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 1em;
}

.ocuapps_input > input {
  margin-right: 1em;
  right: 0;
}

.ocuapps_options {
  margin-left: 4em;
  margin-top: 3em;
}

.delete_practice_img {
  content: url('images/delete.png');
}

.main_info {
  border: 1px solid #fff;
  margin: 8em;
  margin-right: 13em;
}

.fel {
  color: black;
}

.practice_info {
  display: none;
}

.practice_info.active {
  display: block;
}

.practice_info > p {
  margin: 1em 0 0 0;
  font-size: 1em;
}

.practice_assign {
  margin: .5em 0 0 0;
}

.practice_assign > p {
  margin: .5em 0 0 0;
  font-size: 1em;
  text-align: center;
  cursor: pointer;
  color: #fff;
}

.practice_assign > p:hover {
  color: #f2f2f2;
}

.practice_action {
  display: none;
}

.practice_action.active {
  display: block;
}

.practice_users {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.practice_users > p {
  margin: 1em 0 0 0;
  border-bottom: 1px solid;
}

.practice_users > p > input {
  margin-right: 2em;
}

.practice_users > p > img {
  margin-left: 5em;
}

.add {
  background: transparent;
  border: 1px solid #f2f2f2;
  color: black;
  margin: .2em;
  font-size: 1.2em;
  padding: 2px 11px;
}

p.the_practice_name {
  font-size: 2em;
}

.back {
  color: #f2f2f2;
  background-color: #808080;
}

.back:hover {
  color: #f2f2f2;
}

p.table_header {
  color: black;
  margin: .2em 0;
  padding: 2px 0;
  font-size: 1.2em;
}

.top_assign {
  font-size: 1em;
  color: #f2f2f2;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.top_assign > p {
  margin: 1em 0 0 0;
}

.location_info_header {
  border: 1px solid;
  margin-left: 0px;
  margin-right: 0px;
}

.practice_info_header {
  margin-bottom: 1em;
}

.practice_location_item {
  border-bottom: 1px solid;
  margin-left: 0px;
  margin-right: 0px;
  min-height: 12em;
}

.practice_location_item_list {
  border: 1px solid;
}

.search_list_item {
  margin-left: 112px;
  margin-top: 32px;
  margin-right: 62px;
  border-bottom: 1px solid #fff;
}

.location_counter {
  margin: 0px;
  padding: 0px;
  padding-left: 3px;
  margin-top: -16px;
  margin-bottom: 3px;
}

.modal-header {
  border-bottom: none;
}

.add_location_btn,
.remove_location_btn {
  background-color: white;
  color: black;
  padding: 2px 5px;
  border: 1px solid #cde8f4;
  border-radius: 2px;
}

.add_location_btn:hover,
.remove_location_btn:hover,
.add_location_btn:focus,
.remove_location_btn:focus,
.add_location_btn:active,
.remove_location_btn:active {
  background-color: #cde8f4;
  border: 1px solid #cde8f4;
}

.modal-action-btn {
  background-color: white;
  color: black;
  padding: 2px 5px;
  border: 1px solid #0071bc;
  border-radius: 2px;
}

.modal-action-btn:hover,
.modal-action-btn:focus,
.modal-action-btn:active {
  background-color: #0071bc;
  border: 1px solid #0071bc;
  color: #fff;
}

.add_location {
  margin: 0px;
  padding: 0px;
}

.remove-location {
  margin: 0px;
  padding: 0px;
}

.glyph_design {
  top: -7px;
  line-height: 0;
}