/*
---------------------------
Section : Imports
---------------------------
*/

/*
---------------------------
Section : Fonts
---------------------------
*/

/*
---------------------------
Section : Media Queries
---------------------------
*/

@media only screen and (max-width: 468px) {
  .left-padding {
    padding-left: 2.5em;
  }

  .logo-img {
    padding: 0 0 1.5em 1.5em;
  }

  .sidebar-item-list {
    width: 100%;
  }
}

@media only screen and (min-width: 469px) and (max-width: 767px) {
  .logo-img {
    width: 50%;
    margin-top: 1.5em;
  }

  .top-margin {
    margin-top: 2em;
  }

  .bottom-margin {
    margin-bottom: 3em;
  }

  .sidebar-item-list {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  body {
    font-size: 14px;
  }

  .sidebar-item-list {
    width: 90%;
  }
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
  body {
    font-size: 14px;
  }

  .sidebar-item-list {
    width: 80%;
  }
}

@media only screen and (min-width: 1201px) and (max-width: 1800px) {
  body {
    font-size: 15px;
  }

  .sidebar-item-list {
    width: 70%;
  }
}

@media only screen and (min-width: 1801px) and (max-width: 2200px) {
  .col-xl-2 {
    width: 20%;
  }

  body {
    font-size: 16px;
  }

  .sidebar-item-list {
    width: 60%;
  }
}

@media only screen and (min-width: 2201px) {
  body {
    font-size: 17px;
  }

  .col-xl-2 {
    width: 20%;
  }

  .sidebar-item-list {
    width: 50%;
  }
}

/*
---------------------------
Section : Helper Classes
---------------------------
*/

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.right-border {
  border-right: 2px solid white;
}

.right-border-grey {
  border-right: 2px solid #e3e3e3;
}

.input {
  padding: .6em 4em .6em 1em;
  border-radius: .5em;
  border: 1px solid white;
  box-shadow: inset -5px 5px 10px 0px #b7b9bb;
  color: #bcbec0;
}

a,
a:hover,
a:active,
a:focus,
a:focus {
  color: #ffffff;
}

a.sidebar-item,
a:hover.sidebar-item,
a:active.sidebar-item,
a:focus.sidebar-item,
a:focus.sidebar-item {
  text-decoration: none;
  color: #82888f;
}

.button {
  text-align: center;
  background: #a9abae;
  padding: .4em 1em .4em 1em;
  border-radius: .5em;
  box-shadow: inset -5px 5px 10px 0px #77787b;
  border: 1px solid white;
}

.button_type {
  display: inline-block;
  color: black;
  padding: 0.5em 1em;
  border-radius: 0.25em;
}

.button_type_1 {
  display: inline-block;
  color: black;
  padding: 0.5em 1em;
  border-radius: 0.25em;
  background-color: #cde8f4;
  cursor: pointer;
}

.button_type_2 {
  display: inline-block;
  color: black;
  padding: 0.5em 1em;
  border-radius: 0.25em;
  background-color: transparent;
  border: solid 1px;
  cursor: pointer;
}

.button_type_3 {
  display: inline-block;
  color: white;
  background-color: #f13923;
  cursor: pointer;
  border-radius: 0.25em;
  padding: 0.25em 0.25em;
  font-size: .8em;
  position: absolute;
  right: 0px;
}

.bold {
  font-weight: bold;
}

.center-align {
  text-align: center;
}

.add-btn,
.add-btn:hover {
  float: right;
  color: #fff;
  background-color: #0086fb;
  border-color: #0086fb;
}

.practice_list {
  overflow-y: scroll;
  display: none;
}

.practice_list.active {
  display: block;
  overflow-y: hidden;
}

.practice_list_item {
  border-top: 1px solid;
  opacity: 0.9;
  cursor: pointer;
}

.practice_list_item:hover {
  opacity: 1;
}

.practice_info {
  display: none;
  margin-top: 2em;
}

.practice_info > .practice_table_header {
  border-bottom: 2px solid #fff;
  border-top: 1px solid #fff;
  color: #000;
  padding: 0.5em 15px;
  margin: 1em 0;
}

.practice_info.active {
  display: block;
}

#search_practice_button {
  cursor: pointer;
}

#add_practice_search_option {
  position: inherit;
  cursor: pointer;
}

.search_filter {
  color: black;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-left: 1px;
  padding-top: 4px;
}

.search_filter_item {
  background: #f5f5f5;
  padding: 2px 5px 2px 5px;
  border: dashed 2px;
  border-radius: 5px;
  margin: 2px;
}

.search_filter_item > .remove_option {
  color: red;
  cursor: pointer;
  margin: 1px;
}

.add_search_option {
  padding-right: 25px;
}

.provider_list {
  overflow-y: scroll;
  display: none;
}

.provider_list.active {
  display: block;
}

.provider_list_item {
  border-top: 1px solid;
  opacity: 0.9;
  cursor: pointer;
}

.provider_list_item:hover {
  opacity: 1;
}

.provider_info {
  display: block;
  margin-top: 2em;
}

.provider_info > .provider_table_header {
  border-bottom: 2px solid #fff;
  border-top: 1px solid #fff;
  color: #000;
  padding: 0.5em 15px;
  margin: 1em 0;
}

.provider_info.active {
  display: block;
}

#search_provider_button {
  cursor: pointer;
}

.section_seperator {
  border-bottom: solid 2px white;
  display: block;
  position: relative;
}

.patient_previous_information {
  display: none;
  margin: 2em 4em;
}

.patient_previous_information p {
  color: black;
  font-size: 1.2em;
  margin-top: 1em;
  font-weight: 600;
}

.patient_previous_information.active {
  display: block;
}

.list_seperator {
  padding: 1em 2em;
  border-bottom: solid 1px white;
  color: #f2f2f2;
}

.list_seperator:hover {
  cursor: pointer;
  color: #fff;
}

.provider_near_patient,
.previous_provider_patient {
  cursor: pointer;
}

.provider_near_patient_list,
.previous_provider_patient_list {
  margin: 1em 2em;
  display: none;
}

.provider_near_patient_list.active,
.previous_provider_patient_list.active {
  display: block;
}

.selected_patient {
  background-color: #faf5b4;
  color: black;
  padding: 5px;
}

.selected_patient p {
  color: black;
  display: inline-block;
  margin: 0 0 1px;
}

.selected_patient p.view_selected_patient,
.selected_patient p.change_selected_patient {
  cursor: pointer;
  text-decoration: underline;
}

.selected_patient.col-xs-2 {
  text-align: right;
}

.patient_info {
  display: none;
  margin-top: 2em;
}

.patient_info > .patient_table_header {
  border-bottom: 2px solid #fff;
  border-top: 1px solid #fff;
  color: #000;
  padding: 0.5em 15px;
  margin: 1em 0;
}

.patient_info.active {
  display: block;
}

.schedule_button {
  display: none;
}

.schedule_button.active {
  display: inline-block;
}

.button_type_11 {
  color: black;
  padding: 0.5em 1em;
  border-radius: 0.25em;
  background-color: #ed1c24;
  color: #fff;
  display: none;
  cursor: pointer;
}

.button_type_11.active {
  display: inline-block;
}

.availability_display > .col-xs-1 {
  background-color: #f2f2f2;
  color: black;
}

.lastseen_content {
  display: none;
}

.lastseen_content.active {
  display: inline-block;
}

.lastseenby_show {
  cursor: pointer;
}

.referredby_content {
  display: none;
}

.referredby_content.active {
  display: inline-block;
}

.referredby_show {
  cursor: pointer;
}

.insurance_provider_show {
  cursor: pointer;
}

.insurance_provider_content {
  display: none;
}

.insurance_provider_content.active {
  display: inline-block;
}

#practice_listing {
  width: 90%;
  margin-left: 40px;
}

.practice_list {
  overflow-y: scroll;
  display: none;
}

.practice_list.active {
  display: block;
  overflow-y: hidden;
}

.practice_search_content {
  margin-left: 112px;
}

.practice_location {
  border: 1px solid;
  padding: 0.25em 0.5em;
  border-radius: 5px;
  cursor: pointer;
}

.practice_location.active,
.practice_location:hover {
  font-weight: bold;
}

.modal-dialog {
  background-color: #f2f2f2;
  padding: 10px;
  color: #000;
  border-radius: .5em;
}

.modal-dialog > p {
  font-size: 1.2em;
  color: #0193d7;
  text-align: center;
  padding: .5em 0 0 0;
}
