.practice_list {
  overflow-y: scroll;
  display: none;
}

.practice_list.active {
  display: block;
  overflow-y: hidden;
}

.practice_list_item {
  border-top: 1px solid;
  opacity: 0.9;
  cursor: pointer;
}

.practice_list_item:hover {
  opacity: 1;
}

.practice_info {
  display: none;
  margin-top: 2em;
}

.practice_info > .practice_table_header {
  border-bottom: 2px solid #fff;
  border-top: 1px solid #fff;
  color: #000;
  padding: 0.5em 15px;
  margin: 1em 0;
}

.practice_info.active {
  display: block;
}

#search_practice_button {
  cursor: pointer;
}

#add_practice_search_option {
  position: inherit;
  cursor: pointer;
}

.search_filter {
  color: black;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-left: 1px;
  padding-top: 4px;
}

.search_filter_item {
  background: #f5f5f5;
  padding: 2px 5px 2px 5px;
  border: dashed 2px;
  border-radius: 5px;
  margin: 2px;
}

.search_filter_item > .remove_option {
  color: red;
  cursor: pointer;
  margin: 1px;
}

.add_search_option {
  padding-right: 25px;
}

.provider_list {
  overflow-y: scroll;
  display: none;
}

.provider_list.active {
  display: block;
}

.provider_list_item {
  border-top: 1px solid;
  opacity: 0.9;
  cursor: pointer;
}

.provider_list_item:hover {
  opacity: 1;
}

.provider_info {
  display: block;
  margin-top: 2em;
}

.provider_info > .provider_table_header {
  border-bottom: 2px solid #fff;
  border-top: 1px solid #fff;
  color: #000;
  padding: 0.5em 15px;
  margin: 1em 0;
}

.provider_info.active {
  display: block;
}

#search_provider_button {
  cursor: pointer;
}

.section_seperator {
  border-bottom: solid 2px white;
  display: block;
  position: relative;
}

.patient_previous_information {
  display: none;
  margin: 2em 4em;
}

.patient_previous_information p {
  color: black;
  font-size: 1.2em;
  margin-top: 1em;
  font-weight: 600;
}

.patient_previous_information.active {
  display: block;
}

.list_seperator {
  padding: 1em 2em;
  border-bottom: solid 1px white;
  color: #f2f2f2;
}

.list_seperator:hover {
  cursor: pointer;
  color: #fff;
}

.provider_near_patient,
.previous_provider_patient {
  cursor: pointer;
}

.provider_near_patient_list,
.previous_provider_patient_list {
  margin: 1em 2em;
  display: none;
}

.provider_near_patient_list.active,
.previous_provider_patient_list.active {
  display: block;
}

.selected_patient {
  padding-top: 1em;
}

.selected_patient > p {
  color: #f2f2f2;
}

.availability_display > .col-xs-1 {
  background-color: #f2f2f2;
  color: black;
}

#practice_listing {
  width: 90%;
  margin-left: 40px;
}
<<<<<<< HEAD
=======

.practice_list {
  overflow-y: scroll;
  display: none;
}

.practice_list.active {
  display: block;
  overflow-y: hidden;
}

.practice_search_content {
  margin-left: 112px;
}
>>>>>>> 8bf978fcdfb1644ae3b91378de07eb7fb1db3226
