/*
---------------------------
Section : Imports
---------------------------
*/

@import 'variables.less';
@import 'fonts.less';
@import 'media.less';
@import 'helper.less';
@import 'loader.less';

/*
-----------------------------
Content
-----------------------------
*/

.bootstrap-datetimepicker-widget {
    position: absolute;
    bottom: 0;
}
.sidebar_border_color {
    border-right: solid 2px rgba(235, 236, 237, .95);
}
.announcement_box {
    width: 50%;
    height: 100%;
    padding: .5em;
    background-color: #fff;
    opacity: 0;
    border-top-right-radius: .5em;
    border-bottom-right-radius: .5em;
    z-index: 1;
    box-shadow: 2px 0 2px #0071bc;
    position: absolute;
    margin-left: -15px;
    top: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    &.visible {
        visibility: visible;
        opacity: 0.95;
        transition: opacity .5s;
    }
    &>.announcement_row {
        display: flex;
        flex-direction: row;
        &>.left {
            flex-basis: 0;
            flex-grow: 1;
            display: flex;
            flex-direction: row;
        }
        &>.right {
            flex-basis: 0;
            flex-grow: 30;
            display: flex;
            flex-direction: row;
            &.title {
                color: #4d4d4d;
                padding: .3em;
                justify-content: space-between;
                font-size: 1.1em;
                &.announcement_title {
                    font-size: 1.5em;
                }
                &>span {
                    cursor: pointer;
                    &>img {
                        height: 1em;
                        width: 1em;
                    }
                    .natural {
                        display: block;
                    }
                    .active {
                        display: none;
                    }
                    &:hover {
                        .natural {
                            display: none;
                        }
                        .active {
                            display: block;
                        }
                    }
                }
            }
            &.announcement_navbar {
                color: #4d4d4d;
                margin: .5em .5em 1em .5em;
                justify-content: space-between;
                &>.announcement_navbar_right {
                    display: flex;
                }
                &>.announcement_navbar_left {
                    display: inherit;
                    justify-content: flex-start;
                    display: flex;
                    flex-direction: row;
                    font-size: 1.1em;
                    &>span {
                        margin-right: 1em;
                        cursor: pointer;
                        &:hover {
                            color: #00a1e4;
                        }
                    }
                    &>.active {
                        color: #00a1e4;
                        border-bottom: 3px solid #00a1e4;
                        cursor: default;
                    }
                }
            }
        }
    }
}
.announcement_list_item {
    padding-top: .3em;
    display: flex;
    flex-direction: column;
    color: #4d4d4d;
}
.preview_announcement_list_item {
    display: flex;
    flex-direction: row;
    color: #4d4d4d;
    &>.item_left {
        flex-basis: 0;
        flex-grow: 1;
        display: flex;
    }
    &>.item_right {
        flex-basis: 0;
        flex-grow: 30;
        display: flex;
        flex-direction: column;
    }
}
.list_item_section {
    padding-right: .5em;
    display: flex;
    &>.item_left {
        flex-basis: 0;
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        justify-content: center;
        &.glyphicon {
            flex-direction: column;
            justify-content: center;
            text-align: center;
            color: #00a1e4;
            &.Normal {
                color: #00a1e4;
            }
            &.Important {
                color: #ea4335;
            }
        }
    }
    &>.item_right {
        flex-basis: 0;
        flex-grow: 30;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: #4d4d4d;
        &.text {
            color: #82888f;
        }
        &.excerpt {
            color: #808080;
            font-size: .9em;
        }
        &>.from {
            font-size: .9em;
            color: #4d4d4d;
        }
    }
}
.section_separator {
    border-bottom: 1px solid #cccccc;
    width: 100%;
    margin: .3em 0;
}
.announcement_content {
    overflow-y: auto;
    padding: .5em;
}
.delete {
    padding-right: 1em;
    .cancel_image,
    .cancel_image-hover {
        width: 1.5em;
        cursor: pointer;
        margin: 0 0 0 1em;
        display: none;
    }
    .cancel_image {
        display: block;
    }
    &:hover {
        .cancel_image-hover {
            display: block;
        }
        .cancel_image {
            display: none;
        }
    }
    display: none;
    &.active {
        display: block;
    }
}
.mark_as_read {
    border: none;
    background-color: #cde8f4;
    margin-bottom: auto;
    display: none;
    &:hover {
        box-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
    }
    &:active,
    &:focus {
        border: none;
    }
    &.active {
        display: block;
    }
}
.back-button {
    border: none;
    background-color: #ebeced;
    box-shadow: 2px 0 2px #4d4d4d;
    opacity: 1;
    margin-bottom: auto;
    display: none;
    &:active,
    &:focus {
        border: none;
    }
    &.active {
        display: block;
    }
}
.sent_by_me {
    display: none;
    cursor: pointer;
    border: solid 1px transparent;
    &>img {
        height: 1em;
        width: 1em;
        margin-left: .5em;
    }
    &.active {
        display: block;
    }
    &:hover {
        color: #00a1e4;
    }
}
.announcement_tabs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 3px solid transparent;
    margin-bottom: auto;
}
.item_link {
    padding: .3em 0;
    cursor: pointer;
    &:hover {
        color: #00a1e4;
    }
}

/*
--------------------------
Make annoucement section
--------------------------
*/

.make_announcement {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #4d4d4d;
    &>.item_left {
        flex-basis: 0;
        flex-grow: 1;
        display: flex;
    }
    &>.item_right {
        flex-basis: 0;
        flex-grow: 30;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        &>.make_row {
            display: inherit;
            flex-direction: row;
            margin: 0 0 1em 0;
            justify-content: space-around;
            &.button_row {
                justify-content: center;
                &>button {
                    margin: 1em;
                    padding: .5em;
                }
            }
            &>.left {
                flex-basis: 0;
                flex-grow: 2;
            }
            &>.right {
                flex-basis: 0;
                flex-grow: 5;
                display: inherit;
                justify-content: space-between;
                &>input {
                    width: 100%;
                }
                &>span {
                    flex-basis: 0;
                    flex-grow: 1;
                    flex-direction: row;
                    justify-content: flex-start;
                }
                &>textarea {
                    height: 7em;
                    width: 100%;
                }
                &>select {
                    width: 100%;
                }
            }
            &>#publish {
                border-radius: .2em;
                background-color: transparent;
                border: solid 1px #0071bc;
                color: #0071bc;
                &:hover {
                    color: #f2f2f2;
                    background-color: #0071bc;
                }
            }
            &>#preview {
                border-radius: .2em;
                background-color: transparent;
                border: solid 1px #a0a0a0;
                color: #a0a0a0;
                &:hover {
                    color: #f2f2f2;
                    background-color: #a0a0a0;
                }
            }
            &>#close_announcement {
                border-radius: .2em;
                background-color: transparent;
                border: solid 1px #cde8f4;
                color: #4d4d4d;
                &:hover {
                    color: #4d4d4d;
                    background-color: #cde8f4;
                }
            }
        }
    }
}
.make_row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1em 0;
    &.button_row {
        justify-content: center;
        &>button {
            margin: 1em;
            padding: .5em;
        }
    }
    &>#publish {
        border-radius: .2em;
        background-color: transparent;
        border: solid 1px #0071bc;
        color: #0071bc;
        &:hover {
            color: #f2f2f2;
            background-color: #0071bc;
        }
    }
    &>#edit_preview {
        border-radius: .2em;
        background-color: transparent;
        border: solid 1px #cde8f4;
        color: #4d4d4d;
        &:hover {
            color: #4d4d4d;
            background-color: #cde8f4;
        }
    }
}
input[type=checkbox] {
    margin: 3px 0 0;
}
