.file_exchange_navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}
.file_exchange_navbar_content_left {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    justify-content: flex-start;
	&>.buttons {
        display: none;
            &.active {
		    display: flex;
                }
	}

}
.file_exchange_navbar_content_right {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    justify-content: flex-end;
    visibility: hidden;
    &.active {
        visibility: visible;
    }
}
.modal-dialog.center{
    width: 45%;
}
.file_exchange_button {
    margin: 0 .4em;
    padding: .2em;
    background-color: #f2f2f2;
    cursor: pointer;
    box-shadow: 1px 1px 2px #4d4d4d;
    &:active {
        box-shadow: inset 1px 1px 3px #4d4d4d;
    }
}
.folder_path {
    margin: 1em 0;
    visibility: hidden;
    &.active {
        visibility: visible;
    }
}
.files>.col_title {
    color: #4d4d4d;
}
.files>.col_content {
    margin-top: .5em;
    margin-bottom: .5em;
}
hr {
    margin: 0;
    &.main {
        border-top: 2px solid #eee;
    }
}
input[type=checkbox].file-exchange {
    margin-left: 50%;
}
.item_info {
    background-color: #fff;
    position: absolute;
    color: #4d4d4d;
    bottom: 5em;
    right: 0;
    opacity: 0.8;
    z-index: 1;
    border-top-left-radius: .5em;
    border-bottom-left-radius: .5em;
    box-shadow: -2px 0 2px #0071bc;
    padding: 1em;
    width: 30vw;
    display: none;
    flex-direction: column;
    &.active {
        display: flex;
    }
    &>.title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: #00a1e4;
        font-size: 1.5em;
        &>.glyphicon {
            color: #4d4d4d;
            cursor: pointer;
            &:hover{
                color: #ed1c24;
            }
        }
    }
    &>.modifications {
        font-size: 1.2em;
        color: #4d4d4d;
    }
    &>.modification_history {
        font-size: 1em;
        color: #4d4d4d;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &>.description {
        font-size: 1em;
        display: flex;
        border-radius: .5em;
        border: 2px solid #00a1e4;
        color: #4d4d4d;
        padding: .5em;
        &:focus {
            border-radius: .5em;
            border: 2px solid #00a1e4;
            color: #000;
        }
    }
}
.description_text {
    line-height: 1.2em;
    height: 1.2em;
    overflow: hidden;
	word-wrap: break-word;
}
.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #4d4d4d;
    padding: 1em;
    &>.modal_title {
        display: inherit;
        flex-direction: row;
        justify-content: flex-start;
        padding: .5em 0;
    }
    &>.modal_content_row {
        display: inherit;
        flex-direction: row;
        padding: .5em 0;
        &>.left {
            flex-basis: 0;
            flex-grow: 1;
            display: inherit;
            justify-content: flex-start;
        }
        &>.right {
            flex-basis: 0;
            flex-grow: 3;
            display: inherit;
            justify-content: flex-start;
            &>input {
                width: 100%;
            }
            &>textarea {
                width: 100%;
                height: 7em;
            }
        }
    }
    &>.modal_footer {
        display: inherit;
        flex-direction: row;
        justify-content: flex-end;
        &>button {
            border-radius: 0;
            color: #fff;
            &.add-btn {
                background-color: #0193d7;
            }
            &.dismiss-button {
                background-color: #97a0a4;
            }
        }
    }
}
.fileUpload {
    position: relative;
    overflow: hidden;
    background-color: #0193d7;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
#new_filename{
        margin: auto 1em;
}

.show_discription{
	height: auto;
}

#share_in_network {
	margin-left: -11px;
}


.share_text {
	margin-top: 6px;
}
.content-right {
    padding: 1em;
}

.restore-button {
	display: none;
}
textarea {
    resize: none;
}
.page_title {
    font-size: 1.3em;
    padding-top: 2px;
    color: #fff;
    margin: 0 1em 0 15px;
}
