/*
---------------------------
Section : Helper Classes
---------------------------
*/

.no-padding{
    padding: 0;
}
.no-margin{
    margin: 0;
}
.right-border {
    border-right: .3em solid white;
}

.input{
    padding: .6em 4em .6em 1em;
    border-radius: .5em;
    border: 1px solid white;
    box-shadow: inset -5px 5px 10px 0px #b7b9bb;
    color: #bcbec0;
}
.button{
    text-align: center;
    background: #a9abae;
    padding: .4em 1em .4em 1em;
    border-radius: .5em;
    box-shadow: inset -5px 5px 10px 0px #77787b;
    border: 1px solid white;
}
