.import_form {
    color: black;
    padding-left: 29px;
    display: none;
    &.active {
        display: block;
    }
}

.input_lable {
    margin-right: 1em;
}

.input_row {
    display: flex;
}

.inputfile {
    display: inline-block;
    width: 100%;
    padding: 120px 0 0 0;
    height: 100px;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url('http://archisnapper.com/cloud.png') center center no-repeat #e4e4e4;
    border-radius: 20px;
    background-size: 150px 100px;
}

.file-input {
    position: relative;
    overflow: hidden;
    color: #4d4d4d;
    display: inline-block;
	padding-right: 30px;
}

.file-input input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    display: block;
    cursor: pointer;
}

.filename {
    padding: 0 10px;
    display: inline-block;
    vertical-align: top;
    font-style: italic;
	margin-left: -10px;
}

.success_message {
    color: black;
	line-height: 2em;
    display: none;
    text-align: justify;
    margin-left: 37%;
    color: darkgreen;
    &.active {
        display: block;
    }
}

.total_import{
	color: #333333;
	font-weight: bold;
	font-family: Arial;
}
.new_patient{
	color:#0071bc;
	margin-left:7em;
}
.old_patient{
	color:#0071bc;
	margin-left: 2em;
}

.import_button {
    display: none;
    color: black;
    background-color: #fff;
    border-color: #ccc;
    &.active {
        display: inline;
    }
    &:hover {
        background-color: #0071bc;
        border-color: #0071bc;
        color: #fff;
    }
}

.form_model {
    margin-top: 5em;
    margin-left: 34em;
}

.ccda_import_form {
    color: black;
}

.save_ccda_button {
    display: none;
    color: black;
    background-color: #fff;
    border-color: #ccc;
    &.active {
        display: inline;
    }
    &:hover {
        background-color: #0071bc;
        border-color: #0071bc;
        color: #fff;
    }
}

.compare_ccda {
    color: black;
    padding-left: 29px;
    display: none;
    &.active {
        display: block;
    }
}

.update_header {
    color: black;
    margin-left: 30%;
    display: none;
    &.active {
        display: block;
    }
}

.import_header {
    color: black;
    margin-left: 39%;
    display: none;
    &.active {
        display: block;
    }
}

.compare_form {
    color: black;
    padding-left: 29px;
    display: none;
    &.active {
        display: block;
    }
}

.compare_model {
    color: black;
    width: 54em;
}

.row_content {
    height: 20px;
}

.campare_items {
    color: black;
    height: 22em;
    overflow-y: auto;
}

.compare_ccda_button {
    display: none;
    color: black;
    background-color: #fff;
    border-color: #ccc;
    &.active {
        display: inline;
    }
    &:hover {
        background-color: #0071bc;
        border-color: #0071bc;
        color: #fff;
    }
}

#ccda_dropdown {
    background: @light-gray;
    background-color: #ebeced;
    box-shadow: 0px 0px 3px #82888f;
    border-radius: 5px;
    text-align: center;
    width: 10em;
    margin-left: 3.5em;
    color: black;
}

#ccda_dropdown>li {
    &:hover {
        opacity: 0.7;
    }
}

#ccda_dropdown>li>a {
    margin: 0.85em 0.25em;
    padding: 0 0.5em;
    &:hover {
        background-color: transparent;
    }
    &>img {
        width: 24px;
    }
}

#import_ccda_button,
#view_ccda,
#download_ccda{
    text-align: left;
    &:hover{

    }
    &>img{
        width: 20%;
        float: left;
        margin-left: 1em;
    }
    &>span{
        margin-left: 1em;
    }
}

.ccda_text {
    color: black;
    &:hover {
        color: black;
        text-decoration: none;
    }
}

.view_patient_ccda {
    display: none;
    &.active {
        display: block;
    }
}


#add_patient_btn {
    padding-right: 10px;
}

.import-btn {
    background: transparent;
    color: #cde8f4;
    border: 1px solid;
    float: right;
    &:hover{
          color: black;
          background-color: #cde8f4;
          border-color: #cde8f4;
    }
}

.xlsx_file-input {
	position: relative;
    overflow: hidden;
    color: #4d4d4d;
    display: none;
    font-weight: bold;
	padding-right: 30px;
	&.active{
		display: inline-block;
	}
}
.xlsx_file-input input[type="file"] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	display: block;
	cursor: pointer;
}
.clear_image_path{
    cursor: pointer;
    width: .8em;
}

.suggestion_list {
	display: none;
	z-index: 1;
	margin-top: -14px;
	background-color: #ebeced;
	width: 56%;
	border-radius: 1px;
	margin-left:3%;
	text-align: left;
	padding-left: 0px;
	>p{
		color:#4d4d4d;
		padding-left: 6px;
		&:hover{
			cursor: pointer;
			background-color: #fff;
		}
	}
	&.active{
		display: block;
		z-index: 10;
		position: absolute;

	}
}
.referredby_input{
	display: block;
	margin: 1em;
	width: 60%;
	margin-top: 0px;
	display: block;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #4d4d4d;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	&:focus{
		outline: none;
	}
}

#referred_by_details_btn {
	&:hover{
		text-decoration: none;
		color: #000;
	}
}

.save_referredby {
	background-color: #0071bc;
}

.view_file {
	background: #0070FF;
	border: 1px solid #0070FF;
	border-radius: 3px;
	padding: 2px;
	text-decoration: none;
	margin-left: -17px;
	&:hover{
		text-decoration: none;
	}
}

.download_file {
	background: #0070FF;
	border: 1px solid #0070FF;
	border-radius: 3px;
	padding: 2px;
	text-decoration: none;
	margin-left: -9px;
	&:hover{
		text-decoration: none;
	}
}

.patient_files_content {
	display: none;
	&.active{
		display: inline-block;
	}
}

.file_name{
	font-size:12px;
	margin-top:3px;
}

.patient_files_show {
	cursor: pointer;
}

.remove_file_name
{
	cursor: pointer;
	width: .8em;
}

.upload_file_view_btn {
	cursor: pointer;
}
