/*
---------------------------
Section : Media Queries
---------------------------
*/

@media only screen and (max-width: 468px) {
    .left-padding {
        padding-left: 2.5em;
    }
    .logo-img {
        padding: 0 0 1.5em 1.5em;
    }
    .sidebar_item_list {
        width: 70%;
    }
    .announcement_box {
        width: 100%;
    }
    .footer {
        min-height: 6.1em;
        margin-bottom: -6em;
    }
}

@media only screen and (min-width: 469px) and (max-width: 767px) {
    .logo-img {
        width: 50%;
        margin-top: 1.5em;
    }
    .top-margin {
        margin-top: 2em;
    }
    .bottom-margin {
        margin-bottom: 3em;
    }
    .sidebar_item_list {
        width: 50%;
    }
    .announcement_box {
        width: 100%;
    }
    .footer {
        min-height: 6.1em;
        margin-bottom: -6em;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    body {
        font-size: 14px;
    }
    .C3_day_row {
        width: 100%;
    }
    .sidebar_item_list {
        width: 90%;
    }
    .announcement_box {
        width: 45%;
    }
    .footer {
        min-height: 2.1em;
        margin-bottom: -2em;
    }
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
    body {
        font-size: 14px;
    }
    .C3_day_row {
        width: 100%;
    }
    .sidebar_item_list {
        width: 80%;
    }
    .announcement_box {
        width: 35%;
    }
    .footer {
        min-height: 2.1em;
        margin-bottom: -2em;
    }
}

@media only screen and (min-width: 1201px) and (max-width: 1800px) {
    body {
        font-size: 15px;
    }
    .C3_day_row {
        width: 80%;
    }
    .sidebar_item_list {
        width: 70%;
    }
    .announcement_box {
        width: 35%;
    }
    .footer {
        min-height: 2.1em;
        margin-bottom: -2em;
    }
}

@media only screen and (min-width: 1801px) and (max-width: 2200px) {
    .col-xl-2 {
        width: 20%;
    }
    body {
        font-size: 16px;
    }
    .C3_day_row {
        width: 60%;
    }
    .sidebar_item_list {
        width: 60%;
    }
    .announcement_box {
        width: 30%;
    }
    .footer {
        min-height: 2.1em;
        margin-bottom: -2em;
    }
}

@media only screen and (min-width: 2201px) {
    body {
        font-size: 17px;
    }
    .col-xl-2 {
        width: 20%;
    }
    .C3_day_row {
        width: 50%;
    }
    .sidebar_item_list {
        width: 50%;
    }
    .announcement_box {
        width: 30%;
    }
    .footer {
        min-height: 2.1em;
        margin-bottom: -2em;
    }
}
