/*
---------------------------
Section : Imports
---------------------------
*/

@import 'variables.less';
@import 'fonts.less';
@import 'media.less';
@import 'helper.less';
.page_title {
    font-size: 1.3em;
    padding-top: 2px;
    color: #fff;
    padding-left: 15px;
    margin: 0 1em 0 0;
}
.network_admin_search{
    display: flex;
}
.search_input_box {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    font-size: 1em;
    &>input,
    &>input:focus {
        width: 100%;
        border: none;
        padding: 6px 12px;
        color: #4d4d4d;
        outline: none;
    }
    &>span {
        color: #0071bc;
        position: absolute;
    }
}
.glyp {
    padding-top: 8px;
    padding-right: 5px;
    cursor: pointer;
    margin: auto;
    margin-top: 2em;
    margin-left: -2em;
}
.import-btn {
    color: black;
    background-color: #cde8f4;
    border-color: #cde8f4;
    float: right;
}
.btn {
    padding: 6px 22px;
}
.search_input_box {
    background-color: #ffffff;
    font-size: 1em;
    padding-left: 0px;
}
p.search_result {
    margin: 1em;
}
.search_header {
    border-bottom: 2px solid #f2f2f2;
}
.search_name,
.search_edit {
    display: inline-flex;
}
.search_name{
    padding: 0;
    &>p{
        margin: 0;
    }
}
.search_edit {
    padding: 0;
    display: flex;
    justify-content: flex-end;
    &>p.editPatient_from_row {
        margin: 0 1em;
    }
}
.search_item {
    margin: 0 1em;
    padding: .8em 0;
    border-bottom: 1px solid #f2f2f2;
    color: #f2f2f2;
    &:hover {
        color: #fff;
    }
    &>div>p{
        margin: 0;
        &.editnetwork_from_row{
            margin: 0 1em;
            cursor: pointer;
        }
    }
}

/*
--------------------------
Style for create network
--------------------------
*/

.add_header {
    display: flex;
}
.add-btn {
    margin: 0 1em;
}
.back-btn {
    color: #f2f2f2;
    background-color: #808080;
    padding: 6px 22px;
    &:hover {
        color: #f2f2f2;
    }
}
p.add_title {
    font-size: 1.4em;
    margin-bottom: 0;
    margin-left: 1em;
    margin-top: auto;
}
.add_network_input {
    display: block;
    color: #b2e3f5;
    background-color: @font-color-4;
    border: 2px solid @font-color-4;
    margin: 1em;
    border-radius: .2em;
    padding: .5em;
    width: 60%;
    font-size: 1.1em;
    &::placeholder {
        color: #b2e3f5;
    }
    &:focus {
        border: 2px solid #fff;
        color: #66c7eb;
        box-shadow: 0px 0px 2px #fff;
    }
}
.section-break {
    border-top: 1px solid @background-color-6;
    margin: 0 2em 0 2em;
}
.save_network_button {
    color: #4d4d4d;
    background-color: #00B6F1;
    border-color: #2e6da4;
    margin-left: 34%;
    font-size: 1.1em;
    &:hover {
        background-color: #0071bc;
        color: #fff;
    }
}
#dontsave_network {
    color: #4d4d4d;
    float: none;
    font-size: 1.1em;
    background-color: #00B6F1;
    border-color: #fff;
    margin-left: 10%;
    &:hover {
        background-color: #cde8f4;
    }
}
#row_action_dropdown {
    background-color: #ebeced;
    box-shadow: 0px 0px 3px #82888f;
    border-radius: 5px;
    text-align: center;
    margin-left: -4em;
    color: #4d4d4d;
    &>li>a{
        padding: 0 .7em;
    }
}
.confirm_text {
    margin-top: 8px;
    font-size: 15px;
}
.confirm_buttons {
    margin-top: 11px;
    padding: 11px;
}
.confirm_yes {
    background: #fff;
    color: #F22F2F;
    margin-right: 19px;
    border-color: red;
    border-radius: 3px;
    padding-left: 11px;
    padding-right: 11px;
    padding-top: 3px;
    padding-bottom: 3px;
    &:hover {
        background: red;
        color: #fff;
    }
}
.confirm_no {
    background: #fff;
    color: #F22F2F;
    margin-right: 19px;
    border-color: red;
    border-radius: 3px;
    padding-left: 11px;
    padding-right: 11px;
    padding-top: 3px;
    padding-bottom: 3px;
    &:hover {
        background: red;
        color: #fff;
    }
}
#row_remove_dropdown {
    bckground-color: #fff;
    margin-top: -3px;
    box-shadow: 0px 0px 3px #82888f;
    border-radius: 5px;
    text-align: center;
    width: 20em;
    margin-left: -19em;
    color: black;
    height: 9em;
}
#refresh_networks {
    display: none;
    margin: 0 1em;
    cursor: pointer;
    &.active {
        display: block;
    }
}
.action_dropdown {
    width: 30px;
}
.network_listing {
    display: none;
    &.active {
        display: block
    }
    margin-top: 0;
}
#button_active {
    background-color: #d2d3d5;
    background-image: linear-gradient(#d2d3d5 10%, #d2d3d5 90%);
    box-shadow: 0 1px 1px #d2d3d5;
    color: #5b5b5b;
    font-size: 1.2em;
    .arial_bold;
}
.popover {
    color: #4d4d4d;
}
.panel-title>span>a {
    text-decoration: none;
    font-size: 1.3em;
}
.search_header{
    &>div{
        &>input[type=checkbox]{
            margin: auto 0;
            margin-right: 1em;
        }
        &>p{
            margin: 0;
        }
    }
}
.removenetwork_img {
    width: 25px;
    cursor: pointer;
}
