.patient_list {
    overflow-y: scroll;
    display: none;
    &.active {
        display: block;
    }
}

.patient_list_item {
    border-top: 1px solid;
    opacity: 0.9;
    cursor: pointer;
    &:hover {
        opacity: 1;
    }
}

.patient_info {
    display: none;
    margin-top: 2em;
    &>.patient_table_header {
        border-bottom: 2px solid #fff;
        border-top: 1px solid #fff;
        color: #000;
        padding: 0.5em 15px;
        margin: 1em 0;
    }
    &.active {
        display: block;
    }
}

#search_patient_button {
    cursor: pointer;
}

.select_provider_button
    {
        display: none;
        &.active
        {
            display: inline-block;
        }

    }
.search_filter {
    color:black;
    display: inline-flex;
    padding-left: 1px;
    padding-top: 4px;
}

.search_filter_item {
    background: #f5f5f5;
    padding: 2px 5px 2px 5px;
    border: dashed 2px;
    border-radius: 5px;
    margin: 2px;
      &>.remove_option {
      color: red;
      cursor:pointer;
      margin: 1px;
    }
}

.add_search_option {
    padding-right: 25px;



}

#add_search_option {
    position: inherit;
    cursor: pointer;

}



.lastseen_content {
    visibility: hidden;
     &.active {
         visibility: visible;
    }


}

.lastseenby_show {
    cursor: pointer;
}

.referredby_content {
     visibility: hidden;
     &.active {
        visibility: visible;
    }
}

.referredby_show {
    cursor: pointer;
}

.insurance_provider_show {
    cursor: pointer;
}

.insurance_provider_content {
     visibility: hidden;
     &.active {
        visibility: visible;
    }
}
