/*
---------------------------
Section : Imports
---------------------------
*/

@import 'variables.less';
@import 'fonts.less';
@import 'media.less';
@import 'helper.less';
@import 'import.less';

.patient_list {
    display: none;
    &.active {
        display: block;
    }
}

.patient_list_item {
    border-top: 1px solid;
    opacity: 0.9;
    cursor: pointer;
    &:hover {
        opacity: 1;
    }
}

.patient_info {
    display: none;
    margin-top: 2em;
    &>.patient_table_header {
        border-bottom: 2px solid #fff;
        border-top: 1px solid #fff;
        color: #000;
        padding: 0.5em 15px;
        margin: 1em 0;
    }
    &.active {
        display: block;
    }
}

.import-btn {
    background: transparent;
    color: #cde8f4;
    border: 1px solid;
    float: right;
    &:hover{
          color: black;
          background-color: #cde8f4;
          border-color: #cde8f4;
    }
}

#search_patient_button {
    cursor: pointer;
}

.select_provider_button
    {
        display: none;
        &.active
        {
            display: inline-block;
        }

    }
.search_filter {
    color:black;
    display: none;
    padding-left: 1px;
    padding-top: 4px;
    &.active{
        display: inline-flex;
    }
}

.search_filter_item {
    background: #f5f5f5;
    padding: 2px 5px 2px 5px;
    border: dashed 2px;
    border-radius: 5px;
    margin: 2px;
      &>.remove_option {
      color: red;
      cursor:pointer;
      margin: 1px;
    }
}
.add_search_option {
    padding-right: 25px;
}
#add_search_option {
    position: inherit;
    cursor: pointer;
}
.lastseen_content {
    display: none;
    &.active {
        display: inline-block;
    }
}
.action-btns{
    float: right;
    padding-right: 12px;
    font-size: 15px;
    text-decoration: underline;
    display: none;
    &.active{
        display: block;
    }
    &>a{
        color:black;
        cursor: pointer;

    }

}
.add-btn{
    float: left;
}
.lastseenby_show {
    cursor: pointer;
}

.referredby_content {
    display: none;
    &.active {
        display: inline-block;
    }
}

.referredby_show {
    cursor: pointer;
}

.insurance_provider_show {
    cursor: pointer;
}

.insurance_provider_content {
    display: none;
    &.active {
        display: inline-block;
    }
}
 /*
----------------------
Patient admin section
-----------------------
*/
.back{
    color: #f2f2f2;
    background-color: #808080;
    padding: 6px 22px;
    &:hover{
        color: #f2f2f2;
    }
}
.add_header{
    display: flex;
}
p.add_title{
    font-size: 1.5em;
    margin-bottom: 0;
    margin-left: 1em;
    margin-top: auto;
}
.add_patient_input{
    display: block;
    color: #fff;
    background-color: @font-color-4;
    border: 2px solid @font-color-4;
    margin: 1em;
    border-radius: .2em;
    padding: .5em;
    width: 60%;
    &::placeholder{
        color: @background-color-5;
    }
    &:focus{
        border: 2px solid #fff;
    }
}
.section-break{
    border-top: 1px solid @background-color-6;
    margin: 0 2em 0 2em;
}
p.address{
    margin: 0 1em;
    font-size: 1.3em;
    color: #fff;
}
.patient_action {
    display: none;
    &.active {
        display: block;
    }
}
.add-btn{
    float: left;
    &:hover{
        float: left;
    }
}
