@import 'variables.less';
@import 'fonts.less';
@import 'media.less';
@import 'helper.less';
.search_input_box {
    display: -moz-box;         /* OLD - Firefox 19 */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    background-color: #f6f6f6;
    ;
    font-size: 1em;
    &>input, &>input:focus {
        width: 100%;
        border: none;
        padding: 6px 12px;
        color: #4d4d4d;
        outline: none;
    }
    &>span {
        color: #0071bc;
        position: absolute;
    }
}

#button_active {
    background-color: #d2d3d5;
    background-image: linear-gradient(#d2d3d5 10%, #d2d3d5 90%);
    box-shadow: 0 1px 1px #d2d3d5;
    color: #6B31D7;
    font-size: 1.2em;
    .arial_bold;
}

.header_text {
    padding-top: 0.2em;
    font-size: 1.3em;
    color: #fff;
    padding-left: 2em;
}

.search_list_header {
    border-bottom: 2px solid #f2f2f2;
    color: #333;
}

.search_list_item {
    color: #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    &>div {
        margin-top: 1em;
        margin-bottom: 1em;
    }
}

.list_item_name {
    cursor: pointer;
    font-size: 1em;
}

.item_info {
    &>span {
        font-weight: bold;
        color: #fff;
        font-size: 0.9em;
    }
    &>p {
        font-size: 0.8em;
    }
}

.listing_section {
    display: none;
    &.active {
        display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;      /* TWEENER - IE 10 */
        display: -webkit-flex;
        display: flex;
        overflow-y: auto;
    }
}

#pagination {
    &>img {
        cursor: pointer;
    }
}

.timeline {
    margin-top: 0.5em;
    &>ul {
        margin-bottom: -7px;
        padding-left: 1em;
    }
}

.timeline ul li {
    list-style-type: none;
    position: relative;
    width: 2px;
    padding-top: 7em;
    background: #fff;
    &::before {
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: #00b6f1;
        transform: translate(-50%, -50%);
        border: 2px solid #f2f2f2;
        outline-color: white;
        bottom: 80%;
    }
    &.active {
        &::before {
            background: #3c763d;
            border: 3px solid #00b6f1;
            box-shadow: 0 0 0px 2px #fff;
        }
    }
    &.default_active {
        &::before {
            background: #f2f2f2;
            border: 3px solid #00b6f1;
            box-shadow: 0 0 0px 2px #fff;
        }
    }
}

.patient_status {
    cursor: pointer;
    font-size: 1em;
}

.care_timeline {
    display: flex;
    overflow-y: auto;
    overflow-x: hidden;
    flex-direction: column;
    font-size: 0.8em;
    margin-top: 2em;
}

.date_left {
    text-align: left;
    display: inline-block;
    position: absolute;
    right: 0;
}

.timeline_notes {
    font-style: italic;
}

.note_item {
    padding-top: 2px;
}

.data_right {
    display: inline-block;
    left: 0;
    padding-left: 0;
}

#patients_accordion {
    margin: 0 0 0 1em;
}

.show_more_section {
    flex-grow: 2;
    &:p {
        font-size: 5px;
    }
}

.timeline_section {
    flex-grow: 3;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 3em;
    padding-top: 1em;
}

.item_info_section {
    margin-top: 1em;
}
.show_more_text{
    cursor: pointer;
    text-align: center;
    padding-left: 13px;
}

.set_default_padding{
    padding-left: 0;
    padding-right: 0;
}
