@import 'variables.less';
@import 'fonts.less';
@import 'media.less';
@import 'helper.less';
.reports_container {
    background-color: @background-color-1;
    padding: 0 2em;
    flex-grow: 1;
    color: @font-color-black;
    &>.row {
        margin: 0;
        &.report_header_row {
            margin-top: 1em;
        }
        &.report_filter_row {
            margin: 1em 0;
        }
        &.drilldown_section {
            margin: 1em 0;
            &>.filter_graph {
                margin: 0;
                display: flex;
                justify-content: center;
            }
        }
    }
}
.content-right {
    padding: 0;
}
.reports_header {
    font-size: 1.4em;
}
.graph_row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    &>.graph_column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 2em;
        background-color: @graph_background;
        padding: 1em;
        width: 300px;
        margin: 1em 0;
        &>.overall_patient_text {
            margin-bottom: 1em;
        }
        &.clickable {
            cursor: pointer;
        }
    }
}
.green_text {
    color: @graph_green;
}
.red_text {
    color: @graph_red;
}
.network_selector {
    border-radius: .8em;
    background: @dropdown_color;
    border: solid 2px @dropdown_color;
    cursor: pointer;
    color: @font-color-black;
    &:focus {
        outline: none;
    }
}
.filter_section {
    margin-top: .7em;
    display: inline-block;
    padding: .2em;
    border: 1px solid @font-color-black;
    border-radius: .5em;
    &>.remove_filter {
        margin-left: .3em;
        cursor: pointer;
    }
}
.drilldown_data {
    margin: 2em 0;
    cursor: default;
    &>.head_row {
        display: flex;
        flex-direction: row;
        padding: .5em 0;
        justify-content: space-around;
        border-bottom: 2px solid #4d4d4d;
        margin: 0;
        &>span {
            flex-grow: 1;
            flex-basis: 0;
        }
    }
    &>.drilldown_data_content {
        margin: .5em 0 0 0;
        max-height: 13em;
        overflow-y: scroll;
        &>.drilldown_data_row {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            &:nth-child(even) {
                background: #e3e3e3;
            }
            &>span {
                flex-grow: 1;
                flex-basis: 0;
            }
        }
    }
}
.filter_row {
    display: flex;
}
.export_button {
    margin-left: auto;
    &:hover {
        cursor: pointer;
        border: 1px solid @background-color-4;
        color: @background-color-4;
    }
}
.performance_report_aggregation {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    color: @font-color-black;
    margin-top: 1em;
    cursor: default;
    text-align: center;
    background-color: #d2d3d5;
    padding: .5em;
    .gradient(#d2d3d5, #d2d3d5);
    box-shadow: 0 1px 1px #d2d3d5;
    &>.aggregation_row {
        display: inherit;
        flex-direction: row;
        justify-content: center;
        justify-content: space-between;
        margin: .1em 0;
        .arial;
        &.title_section {
            .arial_bold;
            border-bottom: 1px solid @font-color-black;
        }
    }
}
