@import 'variables.less';
@import 'fonts.less';
@import 'media.less';
@import 'helper.less';

#search_practice_input {
    //background: transparent;
}

.create_practice {
    margin-top: 111px;
    width: 42em;
}

.practice_header {
    margin-top: 2em;
    font: black;
}

#create_practice {
    color: black;
}

.search_input_box {
    background-color: #ffffff;
    font-size: 1em;
    &>input,
    &>input:focus {
        width: 100%;
        border: none;
        padding: 6px 12px;
        color: #4d4d4d;
        outline: none;
    }
    &>span {
        color: #0071bc;
        position: absolute;
        right: 0;
    }
}

.glyp {
    padding-top: 8px;
    padding-right: 5px;
    cursor: pointer;
}

.import-btn {
    color: black;
    background-color: #cde8f4;
    border-color: #cde8f4;
    float: right;
}

.btn {
    padding: 6px 22px;
}

.search_input_box {
    background-color: #ffffff;
    font-size: 1em;
    padding-left: 0px;
}

.practice_form {
    width: 56em;
    margin-top: 9em;
    margin-left: 30%;
}

.search_header {
    margin: 1em;
    border-bottom: 1px solid #fff;
}

.search_name,
.search_edit {
    display: inline-flex;
    cursor: pointer;
}

.search_item {
    margin: 1em;
    border-bottom: 1px solid #fff;
    color: #f2f2f2;
    &:hover {
        color: #fff;
    }
}

p.search_result {
    margin: 1em;
}

p.pagination {
    color: black;
    display: inline-block;
    margin: 0px;
}

.practice_list {
    display: none;
    &.active {
        display: block;
    }
}
.p_right, .p_left{
    cursor: pointer;
}
.ocuapps_input {
    display: inline-flex;
    margin-left: 1em;
    font-size: 1.1em;
    color:#b2e3f5;
    &>input {
        margin-right: 1em;
        right: 0;
    }
}

.ocuapps_options {
    margin-top: -1px;
}

.change_location {
    margin-left: 30px;
}

.delete_practice_img {
    content: url('images/delete.png');
}

.main_info {
    border: 1px solid #fff;
    margin: 8em;
    margin-right: 13em;
}

.fel {
    color: black;
}

.practice_info {
    display: none;
    &.active {
        display: block;
    }
}

.practice_info>p {
    margin: 1em 0 0 0;
    font-size: 1em;
}

.practice_assign {
    margin: .5em 0 0 0;
    &>p {
        margin: .5em 0 0 0;
        font-size: 1em;
        text-align: center;
        cursor: pointer;
        color: #fff;
        &:hover {
            color: #f2f2f2;
        }
    }
}

.practice_action {
    display: none;
    &.active {
        display: block;
    }
}

.practice_users {
    display: inline-flex;
    &>p {
        margin: 1em 0 0 0;
        border-bottom: 1px solid;
        &>input {
            margin-right: 2em;
        }
        &>img {
            margin-left: 5em;
        }
    }
}

.add {
    background: transparent;
    border: 1px solid #f2f2f2;
    color: black;
    margin: .2em;
    font-size: 1.2em;
    padding: 2px 11px;
}

p.the_practice_name {
    font-size: 2em;
}

.back {
    color: #f2f2f2;
    background-color: #808080;
    &:hover {
        color: #f2f2f2;
    }
}

p.table_header {
    color: black;
    margin: .2em 0;
    padding: 2px 0;
    font-size: 1.2em;
}

.top_assign {
    font-size: 1em;
    color: #f2f2f2;
    display: inline-flex;
    &>p {
        margin: 1em 0 0 0;
    }
}

.location_info_header {
    border: 1px solid;
    margin-left: 0px;
    margin-right: 0px;
}

.practice_info_header {
    margin-bottom: 1em;
}

.practice_location_item {
    border-bottom: 1px solid;
    margin-left: 0px;
    margin-right: 0px;
    min-height: 12em;
}

.practice_location_item_list {
    border: 1px solid;
}

.search_list_item {
    margin-left: 112px;
    margin-top: 32px;
    margin-right: 62px;
    border-bottom: 1px solid #fff;
}

.location_counter {
    margin: 0px;
    padding: 0px;
    padding-left: 3px;
    margin-top: -16px;
    font-size: 1.1em;
}

.modal-header {
    border-bottom: none;
}

.add_location_btn,
.remove_location_btn {
    background-color: white;
    color: black;
    padding: 2px 5px;
    border: 1px solid #cde8f4;
    border-radius: 2px;
    &:hover,
    &:focus,
    &:active {
        background-color: #cde8f4;
        border: 1px solid #cde8f4;
    }
}

.modal-action-btn {
    background-color: white;
    color: black;
    padding: 2px 5px;
    border: 1px solid #0071bc;
    border-radius: 2px;
    &:hover,
    &:focus,
    &:active {
        background-color: #0071bc;
        border: 1px solid #0071bc;
        color: #fff;
    }
}

.add_location {
    margin: 0px;
    padding: 0px;
}

.remove-location {
    margin: 0px;
    padding: 0px;
}

.glyph_design {
    top: -7px;
    line-height: 0;
}

.search_name_header {
    display: inline-flex;
}

#edit_practice {
    padding-top: 0.5px;
    padding-bottom: 1px;
    padding-left: 2px;
    padding-right: 1px;
    color: white;
}

#action_dopdown {
    background-color: #ebeced;
    box-shadow: 0px 0px 3px #82888f;
    border-radius: 5px;
    text-align: center;
    width: 10em;
    margin-left: 3.5em;
    color: black;
}

#row_action_dropdown {
    background-color: #ebeced;
    margin-top: -9px;
    box-shadow: 0px 0px 3px #82888f;
    border-radius: 5px;
    text-align: center;
    width: 10em;
    color: black;
}

#row_action_dropdown>li {
    &:hover {
        opacity: 0.7;
    }
    &>a{
        color: black;
    }
}


.assign_role_image {
    width: 25%;
   margin-right: 5px;
}

.assign_user_image {
    width: 25%;
    margin-right: 5px;
}


.add_header {
    display: flex;
    margin-left: 29px;
}

.section-break {
    border-top: 1px solid #00a2dd;
    margin: 0 2em 0 2em;
}


.add_location_header {
    display: flex;
  margin-left: 40px;
    color:#fff;
}

.save_practice_button {
    color: #4d4d4d;
    background-color: #00B6F1;
    border-color: #2e6da4;
    float: left;
    font-size: 1.1em;
    margin-left: 34%;
    &:hover{
        background-color: #0071bc;
        color: #fff;
    }
}

.add_practice_footer {
    margin-left: 23%;
}

#dontsave_new_practice {
    color: #4d4d4d;
    float: none;
    font-size: 1.1em;
    background-color: #00B6F1;
    border-color: #fff;
    margin-left: 14%;
    &:hover{
        background-color: #cde8f4;
    }
}

.back_practice {
    padding-left: 10px;
    padding-right: 10px;
}

.add_location_button {
    background: transparent;
    padding-left: 11px;
    padding-right: 10px;
    margin-left: 1em;
    font-size: 0.8em;
    color:#fff;
    &:hover{
        color: #fff;
        background-color: #0193D7;
        border-color: #0086fb;

    }
}

.remove_location_button {
    background: transparent;
    padding-left: 11px;
    padding-right: 10px;
    margin-left: 11px;
    font-size: 0.8em;
    color:#fff;
    &:hover{
        color: #fff;
        background-color: #0086fb;
        border-color: #0086fb;

    }
}

#location_next {
    margin-top: 1px;
    color: #715B2F;
    cursor: pointer;
}

#location_previous {
    margin-top: 1px;
    color: #715B2F;
    cursor: pointer;
}


p.add_title {
    font-size: 1.4em;
    margin-bottom: 0;
    margin-left: 1em;
    margin-top: auto;
}

#refresh_practices {
    background: maroon;
    color: white;
    display: none;
    padding: 3px;
    border-radius: 3px;
    font-size: 0.9em;
    height: 20px;
    margin-top: 6px;
    width: 37%;
    cursor: pointer;
    &.active{
        display: block;
    }
}

#row_remove_dropdown {
    background-color: #fff;
    margin-top: -3px;
    box-shadow: 0px 0px 3px #82888f;
    border-radius: 5px;
    text-align: center;
    width: 20em;
    margin-left: -19em;
    color: black;
    height: 9em;
}
.confirm_text {
    margin-top: 8px;
    font-size: 15px;
}

.confirm_buttons {
    margin-top: 11px;
    padding: 11px;

}

.confirm_yes {
    background: #fff;
    color: #F22F2F;
    margin-right: 19px;
    border-color: red;
    border-radius: 3px;
    padding-left: 11px;
    padding-right: 11px;
    padding-top: 3px;
    padding-bottom: 3px;
    &:hover{
        background: red;
        color:#fff;
    }
}

.confirm_no {
    background: #fff;
    color: #F22F2F;
    margin-right: 19px;
    border-color: red;
    border-radius: 3px;
    padding-left: 11px;
    padding-right: 11px;
    padding-top: 3px;
    padding-bottom: 3px;
    &:hover{
        background: red;
        color:#fff;
    }
}

#remove_action_dropdown {
    background-color: #fff;
    margin-top: -3px;
    box-shadow: 0px 0px 3px #82888f;
    border-radius: 5px;
    text-align: center;
    width: 20em;
    margin-left: -19em;
    color: black;
    height: 9em;
}
.removepractice_img {
    width: 50%;
    margin-top: -0.5em;
    padding:3px;
    cursor: pointer;
}
.add_practice_input {
    display: block;
    color: #b2e3f5;
    background-color: @font-color-4;
    border: 2px solid @font-color-4;
    margin: 1em;
    border-radius: .2em;
    padding: .5em;
    width: 60%;
    font-size: 1.1em;
    &::placeholder{
        color: #b2e3f5;
    }
    &:focus{
        border: 2px solid #fff;
        color:#66c7eb;
        box-shadow: 0px 0px 2px #fff;
    }
}
