#search_practice_input {
   //background: transparent;
}

.create_practice {
    margin-top: 111px;
    width: 42em;
}

.practice_header {
    margin-top: 2em;
    font: black;
}

#create_practice {
    color: black;
}



.practice_form {
    width:56em;
    margin-top:9em;
    margin-left: 30%;

}

.search_header {
    margin-left: 112px;
    margin-top: 32px;
    margin-right: 62px;
    border-bottom: 1px solid #fff;
}



.search_item {
    margin-left: 112px;
    margin-top: 32px;
    margin-right: 62px;
    border-bottom: 1px solid #fff;
}

.practice_list {
    overflow-y: scroll;
    display: none;
    &.active {
        display: block;
        overflow-y: hidden;
    }
}



.ocuapps_input {
    display:inline-flex;
    margin-left: 1em;
    &>input {
        margin-right: 1em;
        right: 0;
    }

}

.ocuapps_options {
    margin-left: 4em;
    margin-top: 3em;
}

.change_location {

}

.add_location {

}

.remove-location {

}

.delete_practice_img {
    content:url('images/delete.png');
}

.main_info {
      border:1px solid #fff;
    margin:8em;
    margin-right:13em;
}

.fel{
    color: black;
}

.practice_info{
    display: none;
    margin:8em;
    margin-right:13em;
    &.active{
        display: block;
    }
}


.practice_users {
    display: inline-flex;
    margin-left: 3em;
    width: inherit;
    border-bottom: 1px solid;
    &>input{
        margin-left: 1em;
        margin-right: 1em;
        }
    &>img{
        margin-left: 1em;
    }
}

.user_name {
    margin-right: 62px;
}

.location_info_header {
    border:1px solid;
    margin-left: 0px;
    margin-right: 0px;
}

.practice_info_header {
    margin-top: 1em;
}

.practice_location_item {
    border-bottom: 1px solid;
    margin-left: 0px;
    margin-right: 0px;
}

.practice_location_item_list {
     border: 1px solid;
}

.search_list_item {
     margin-left: 112px;
    margin-top: 32px;
    margin-right: 62px;
    border-bottom: 1px solid #fff;
}
