/*
---------------------------
Section : Imports
---------------------------
*/

@import 'variables.less';
@import 'fonts.less';
@import 'media.less';
@import 'helper.less';

.practice_list {
    overflow-y: scroll;
    display: none;
    &.active {
        display: block;
        overflow-y: hidden;
    }
}

.practice_list_item {
    border-top: 1px solid;
    opacity: 0.9;
    cursor: pointer;
    &:hover {
        opacity: 1;
    }
}

.practice_info {
    display: none;
    margin-top: 2em;
    &>.practice_table_header {
        border-bottom: 2px solid #fff;
        border-top: 1px solid #fff;
        color: #000;
        padding: 0.5em 15px;
        margin: 1em 0;
    }
    &.active {
        display: block;
    }
}

#search_practice_button {
    cursor: pointer
}

#add_practice_search_option {
    position: inherit;
    cursor: pointer;
}

.search_filter {
    color: black;
    display: inline-flex;
    padding-left: 1px;
    padding-top: 4px;
}

.search_filter_item {
    background: #f5f5f5;
    padding: 2px 5px 2px 5px;
    border: dashed 2px;
    border-radius: 5px;
    margin: 2px;
    &>.remove_option {
        color: red;
        cursor: pointer;
        margin: 1px;
    }
}

.add_search_option {
    padding-right: 25px;
}

.provider_list {
    overflow-y: scroll;
    display: none;
    &.active {
        display: block;
    }
}

.provider_list_item {
    border-top: 1px solid;
    opacity: 0.9;
    cursor: pointer;
    &:hover {
        opacity: 1;
    }
}

.provider_info {
    display: block;
    margin-top: 2em;
    &>.provider_table_header {
        border-bottom: 2px solid #fff;
        border-top: 1px solid #fff;
        color: #000;
        padding: 0.5em 15px;
        margin: 1em 0;
    }
    &.active {
        display: block;
    }
}

#search_provider_button {
    cursor: pointer
}

.section_seperator {
    border-bottom: solid 2px white;
    display: block;
    position: relative
}

.patient_previous_information {
    display: none;
    margin: 2em 4em;
    & p {
        color: black;
        font-size: 1.2em;
        margin-top: 1em;
        font-weight: 600;
    }
    &.active {
        display: block;
    }
}

.list_seperator {
    padding: 1em 2em;
    border-bottom: solid 1px white;
    color: #f2f2f2;
    &:hover {
        cursor: pointer;
        color: #fff;
    }
}

.provider_near_patient,
.previous_provider_patient {
    cursor: pointer;
}

.provider_near_patient_list,
.previous_provider_patient_list {
    margin: 1em 2em;
    display: none;
    &.active {
        display: block;
    }
}

.selected_patient {
    background-color: #faf5b4;
    color: black;
    padding: 5px;
    & p {
        color: black;
        display: inline-block;
        margin: 0 0 1px;
        &.view_selected_patient,
        &.change_selected_patient {
            cursor: pointer;
            text-decoration: underline;
        }
    }
    &.col-xs-2 {
        text-align: right;
    }
}

.patient_info {
    display: none;
    margin-top: 2em;
    &>.patient_table_header {
        border-bottom: 2px solid #fff;
        border-top: 1px solid #fff;
        color: #000;
        padding: 0.5em 15px;
        margin: 1em 0;
    }
    &.active {
        display: block;
    }
}

.schedule_button {
    display: none;
    &.active {
        display: inline-block;
    }
}

.button_type_11 {
    color: black;
    padding: 0.5em 1em;
    border-radius: 0.25em;
    background-color: #ed1c24;
    color: #fff;
    display: none;
    cursor: pointer;
    &.active {
        display: inline-block;
    }
}

.availability_display>.col-xs-1 {
    background-color: #f2f2f2;
    color: black;
}

.lastseen_content {
    display: none;
    &.active {
        display: inline-block;
    }
}

.lastseenby_show {
    cursor: pointer;
}

.referredby_content {
    display: none;
    &.active {
        display: inline-block;
    }
}

.referredby_show {
    cursor: pointer;
}

.insurance_provider_show {
    cursor: pointer;
}

.insurance_provider_content {
    display: none;
    &.active {
        display: inline-block;
    }
}

#practice_listing {
    width: 90%;
    margin-left: 40px;
}

.practice_list {
    overflow-y: scroll;
    display: none;
    &.active {
        display: block;
        overflow-y: hidden;
    }
}

.practice_search_content {
    margin-left: 112px;
}

.practice_location {
    border: 1px solid;
    padding: 0.25em 0.5em;
    border-radius: 5px;
    cursor: pointer;
    &.active,&:hover{
        font-weight: bold;
    }
}
.modal-dialog{
    background-color: #f2f2f2;
    padding: 10px;
    color: #000;
    border-radius: .5em;
    &>p{
        font-size: 1.2em;
        color: @font-color-4;
        text-align: center;
        padding: .5em 0 0 0;
    }
}
