@import 'variables.less';
@import 'fonts.less';
@import 'media.less';
@import 'helper.less';
.reports_container {
    background-color: #fff;
    padding: 0 2em;
    color: #000;
    &>.row {
        margin: 0;
        &.report_header_row {
            margin-top: 1em;
        }
        &.report_filter_row {
            margin: 1em 0;
        }
    }
    .drilldown_item {
        &:hover {
            cursor: pointer;
        }
    }
}
.content-right {
    padding: 0;
}
.reports_header {
    font-size: 1.4em;
}
.row.report_summary {
    margin: 2em 0;
    display: flex;
    flex-wrap: wrap;
    &>div {
        border: solid 1em #fff;
        padding: 1.5em 1em;
        background-color: #ebeced;
        &.white_bg {
            background-color: #fff;
        }
    }
}
.summary_header {
    font-size: 1.3em;
}
.category_count {
    color: @primary-blue;
}
.flex_col {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-grow: 1;
    justify-content: center;
}
.flex_row {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
}
.section_separater {
    margin: .5em;
    border-top: solid 1px #4d4d4d;
}
.report_stage_data {
    margin: 2em 0;
    &>.stage_row {
        display: flex;
        flex-direction: row;
        flex-shrink: 0;
        flex-wrap: wrap;
        &>.left,
        .right {
            display: flex;
            flex-shrink: 0;
            flex-basis: 0;
        }
        &>.left {
            flex-grow: 3;
        }
        &>.right {
            flex-grow: 2;
        }
    }
    &>.stage_header {
        border-bottom: solid 2px @primary-blue;
        &>.left {
            font-size: 1.2em;
            &>.heading,
            &>.count {
                display: flex;
                flex-basis: 0;
                justify-content: flex-start;
            }
            &>.heading {
                flex-grow: 2;
            }
            &>.count {
                flex-grow: 3;
            }
        }
        &>.right {
            justify-content: flex-end;
        }
    }
    &>.stage_content {
        margin: .3em 0;
        &>.left {
            font-size: 1em;
            &>.title,
            &>.count {
                display: flex;
                flex-basis: 0;
                justify-content: flex-start;
                &>img {
                    margin: .4em;
                    margin-bottom: auto;
                }
            }
            &>.title {
                flex-grow: 2;
            }
            &>.count {
                flex-grow: 3;
            }
        }
        &>.right {
            flex-direction: column;
            &>.right_row {
                display: flex;
                &.section_break {
                    border-bottom: 1px solid #000;
                }
                &>.right_row_section {
                    flex-grow: 1;
                    flex-basis: 0;
                    display: flex;
                    &>img {
                        margin: auto .1em;
                        margin-right: .3em;
                    }
                    &.right_section_count {
                        justify-content: center;
                    }
                }
            }
        }
    }
}
hr {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 0;
    border-top: 1px solid #4d4d4d;
}
.show {
    display: inline-block!important;
}
.text_align_end {
    text-align: end;
}
.report_filter_row {
    &>.filter {
        padding: .1em .2em;
        border: 1px solid #000;
        border-radius: .5em;
        display: inline-block;
        &>.glyphicon {
            cursor: pointer;
        }
        &>.filter_name {
            padding: 0 .2em;
        }
        &.no_filter {
            display: none;
        }
    }
}
