@import 'variables.less';
@import 'fonts.less';
@import 'media.less';
@import 'helper.less';
.reports_container {
    background-color: #fff;
    padding: 1em;
    color: #000;
    &>.row {
        margin: 0;
    }
}
.content-right {
    padding: 0;
}
.reports_header {
    font-size: 1.4em;
}
.row.report_summary {
    margin: 2em 0;
    display: flex;
    &>div {
        border: solid .5em #fff;
        padding: 1.5em 1em;
        background-color: #ebeced;
        &.white_bg {
            background-color: #fff;
        }
    }
}
.summary_header {
    font-size: 1.3em;
}
.category_count {
    color: @primary-blue;
}
.flex_col {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-grow: 1;
    justify-content: center;
}
.flex_row {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
}
.section_separater {
    margin: .5em;
    border-top: solid 1px #4d4d4d;
}
.report_stage_data {
    margin: 2em 0;
    &>.report_stage_header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: solid 2px @primary-blue;
        &>.stage_header_title {
            font-size: 1.2em;
        }
    }
    &>.report_stage_content {
        padding: .5em 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &>.stage_content_subsection {
            flex-grow: 1;
            display: flex;
            &.passed_stage {
                justify-content: flex-start;
                &>.row {
                    flex-grow: 1;
                }
            }
            &.still_in_stage {
                justify-content: flex-end;
                flex-direction: column;
                &>.row {
                    flex-grow: 1;
                }
            }
        }
    }
}
hr {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 0;
    border-top: 1px solid #4d4d4d;
}
