.referral_tile_outer {
    text-align: center;
    font-weight: bold;
}
.referral_type_list {
    background-color: transparent;
    box-shadow: none;
    border: none;
    width: 70%;
    &>option {
        background: #19AFEA;
        border: none;
        padding: 0;
    }
}
.referral_tile {
    background: #ffffff;
    box-shadow: inset 0 3px 10px #e3e3e3, inset 0 -3px 10px #e3e3e3, -5px 5px 5px #0070a3;
    padding: 0.5em 1em;
    display: block;
    color: #0193d7;
    border-radius: 0.7em;
    margin: 1em 0em 0.5em 0em;
    cursor: pointer;
    &>p {
        margin: 0;
        font-size: 2em;
    }
    .referral_tile_inner {
        display: block;
        background-color: #0193d7;
        height: 1.5em;
        margin-top: 0.5em;
        border-radius: 0.3em 0.3em 0 0;
    }
}
.modal-style {
    color: #000;
    padding: 50px;
    margin-top: 35vh;
    background-color: #f2f2f2;
}
.referral_tiles {
    padding: 0 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.tile {
    padding: .4em .5em .5em .5em;
    margin: -1em 1em .3em 1em;
    border: 1px solid #fff;
    background: #ffffff;
    box-shadow: inset 0 3px 10px #e3e3e3, inset 0 -3px 10px #e3e3e3, -5px 5px 5px #0070a3;
    color: #0193d7;
    border-radius: 0.7em;
    cursor: pointer;
    width: 5.4em;
    height: 0;
    padding-bottom: 5.1em;
    overflow: hidden;
    &:hover {
        background: #f2f2f2;
    }
    &:active {
        background: #f2f2f2;
        box-shadow: none;
    }
}
p.tile_name {
    font-size: 2em;
    font-weight: 700;
}
.tile_bar {
    height: 2em;
    border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
    width: 100%;
    display: inline-flex;
    background-color: #0193d7;
}
.referral_type {
    text-align: center;
}
.remove_referral_type {
    color: #ed1c24;
    cursor: pointer;
    font-size: 2em;
    visibility: hidden;
    margin-left: 2.3em;
    &.edit{
        visibility: visible;
    }
}
.add_referral_type {
    color: green;
    font-size: 2em;
    cursor: pointer;

}
.remove_add_referral_type {
    color: #ed1c24;
    font-size: 2em;
    cursor: pointer;
}
p.referral_edit {
    padding: 0;
    margin: 0;
    margin: .6em 0;
    font-size: 2em;
}
p.message{
    margin: 1em 0 0 1em;
    font-size: 1.5em;
}
.cancel_button{
	background-color: rgb(221,221,221);
}
.content-right{
    padding: 0 15px;
}
