.report_header{
    font-size: 1em;
    &>.title{
        font-size: 1.4em;
        margin: 1em 1em 0 3em;
    }
    &>span{
        &.input_field{
            margin-left: 1em;
        }
        &>input{
            color: #4d4d4d;
            border: none;
            width: 8em;
            margin: 0 .5em;
            padding: .2em 0.4em;
            background-color: #ebebeb;
        }
}
}
