.default_fontsize
{
    font-size:1em;
}

.default_margin
{
    margin-left: 4em;
    margin-right: 4em;
}

.move_to_center
{
    height:20em;
}

.main_info_text {
    font-size: 1.2em;
    font-weight: bold;
}

.cat_info_text {
    font-size: 1em;
    font-weight: 700;
    padding-left:0.5em;
}


.default_border
{
    border:1px solid #000;
}

.no_bottom_border
{
    border-bottom: 0 !important;
}

.od_box_border{
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    background-color:darkseagreen;
    font-weight:700;
}

.os_box_border{
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    background-color:darkseagreen;
    font-weight:700;
}

.border_left {
    border-left: 1px solid #000;
}

.border_bottom {
    border-bottom: 1px solid #000;
}


.blank_p_margin_bottom {
    margin-bottom: 2px;
}

.default_p_margin_bottom {
    margin-bottom: 9px;
}

.npdr_checkbox {
    margin-bottom:2px;
}

.signature_text
{
    font-size: 1.2em;
    font-weight: bold;
    margin-top:1em;
    text-align: left;
}

.default_padding {
    padding:0.5em;
}

.update_col_default_padding
{
    padding-right: 0.9em;
}

.npdr_padding {
    padding-bottom: 0.45em;
}
