/*
---------------------------
Section : Imports
---------------------------
*/

@import 'variables.less';
@import 'fonts.less';
@import 'media.less';
@import 'helper.less';

/*
---------------------------
Section : General
---------------------------
*/

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column;
}

.height {
    display: flex;
}


/*
---------------------------
Section : Header
---------------------------
*/

.header {
    padding: 0em;
    flex: 0 0 auto;
    &>div {
        padding: 1em 0em;
    }
}

.header-user {
    flex: 0 0 auto;
}

.header-user-left {
    background-color: #e2e3e4;
    .right-border;
}

.header-user-right {
    background-color: @background-color-5;
}

.header-user-item {
    background-color: #82888f;
    border-right: .2em solid white;
    border-left: .2em solid white;
    margin-right: 1em;
    display: inline-block;
    float: right;
    color: #fff;
    padding: 0.1em 0.4em;
    font-size: 0.9em;
}

.header-left {
    .right-border-grey;
}

.header-right {
    display: flex;
    align-items: flex-end;
}

.header-logo {
    > img {
        width: 100%;
        padding: 0em 1em;
    }
}

.header-menu {
    display: flex;
    text-align: right;
    justify-content: flex-end;
}

.header-menu > nav {
    background-color: #fff;
    border-color: #fff;
    margin: 0;
    min-height: 0;
}

.navbar-toggle {
    border: none;
    margin: 0;
}

.dropdown-menu {
    border-radius: 0;
    border: none;
    box-shadow: none;
}

.menu-item {
    color: @font-color-2;
    font-size: 1em;
    align-self: center;
    margin: 0 1em;
    &:hover,
    &.active {
        color: @font-color-4;
        cursor: pointer;
    }
}


/*
---------------------------
Section : Body
---------------------------
*/

.content {
    flex: 1 1 auto;
}

.content-padding {
    padding: 1em;
}

.content-left {
    .right-border;
    .content-padding;
    background: @background-color-2;
    box-shadow: inset 0 30px 60px -10px #b7b9bb, inset 0 -12px 20px -8px #b7b9bb;
}

.content-right {
    .content-padding;
    box-shadow: inset 0 30px 60px -10px #0193d7, inset 0 -12px 20px -8px #0193d7;
    color: @font-color-1;
    overflow: hidden;
    background: @background-color-3;
    background: -moz-linear-gradient(to right, rgb(0, 161, 228) 20%, rgb(66, 198, 244) 100%);
    background: -webkit-linear-gradient(to right, rgb(0, 161, 228) 20%, rgb(66, 198, 244) 100%);
    background: linear-gradient(to right, rgb(0, 161, 228) 20%, rgb(66, 198, 244) 100%);
}

.content-row-margin {
    margin: 1em 0;
}

.content-section,
.admin-console-section {
    display: none;
    &.active {
        display: block;
    }
}

.table {}

.table-header {
    color: @font-color-4;
    background-color: @background-color-1;
}

.table-check {
    text-align: center;
    &:hover {
        color: @font-color-4;
        cursor: pointer;
    }
}

.content-watermark {
    width: 60%;
    right: -20%;
    top: 5em;
    position: absolute;
}

.subheading {
    font-size: 1.5em;
}

.panel {
    background-color: transparent;
    box-shadow: none;
    color: @font-color-2;
    border: none;
}

.panel-default {
    &>.panel-heading {
        color: inherit;
        background-color: transparent;
    }
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
    border: none;
}

.sidebar-item-list {
    list-style-type: none;
    &>li {
        margin: 0.5em 0;
    }
}


/*
---------------------------
Section : Footer
---------------------------
*/

.footer {
    flex: 0 1 auto;
}

.footer-padding {
    padding: 1em 0;
}

.footer-left {
    .footer-padding;
    .right-border;
    background: @background-color-5;
    color: @font-color-2;
    border-top: 1px solid #9ea0a3;
}

.footer-right {
    .footer-padding;
    padding-left: 2em;
    background: @background-color-3;
    box-shadow: 8px -5px 25px 0 #0d98db;
    color: @font-color-3;
    border-top: 1px solid #20c3f3;
}

.footer-item {
    text-align: center;
    &.border {
        border-right: 1px solid @font-color-3;
    }
    &>p {
        margin: 0;
    }
}
