/*
---------------------------
Section : Imports
---------------------------
*/

@import 'variables.less';
@import 'fonts.less';
@import 'media.less';
@import 'helper.less';
/*
---------------------------
Section : General
---------------------------
*/

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column;
}

.height {
    display: flex;
}
/*
---------------------------
Section : Header
---------------------------
*/

.header {
    padding: 1em 1em;
    flex: 0 0 auto;
}
.header-user{
    flex: 0 0 auto;

}
.header-user-left{
    background-color: #e2e3e4;
    .right-border;
}
.header-user-right{
    background-color: #b0b1b2;
}
.header-user-item{
    background-color: #82888f;
    border-right: .2em solid white;
    border-left: .2em solid white;
    margin-right: 1em;
    display: inline-block;
    float: right;
    color: #fff;
    padding: 0.1em 0.4em;
    font-size: 0.9em;
}
.header-logo {
    > img {
        width: 100%;
        padding-left: 2em;
    }
}

.header-menu {
    display: flex;
    text-align: right;
    justify-content: flex-end;
}


.menu-item {
    color: @font-color-2;
    font-size: 1em;
    align-self: center;
    margin: 0 1em;
    &:hover, &.active {
        color: @font-color-4;
        cursor: pointer;
    }
}

/*
---------------------------
Section : Body
---------------------------
*/

.content {
    flex: 1 1 auto;
}

.content-padding {
    padding: 1em;
}

.content-left {
    .right-border;
    .content-padding;
    background: @background-color-2;
    box-shadow: inset 0 20px 40px -10px #b7b9bb, inset 0 -8px 8px -8px #b7b9bb;
}

.content-right {
    .content-padding;
    //.gradient(left, @background-color-4, @background-color-3);
    background: @background-color-3;
    box-shadow: inset 0 20px 40px -10px #0d98db, inset 0 -8px 8px -8px #0d98db;
    color: @font-color-1;
}

.content-row-margin {
    margin: 1em 0;
}

.content-section {
    display: none;
    &.active {
        display: block;
    }
}

.table {
}

.table-header {
    color: @font-color-4;
    background-color: @background-color-1;
}

.table-check {
    text-align: center;

    &:hover{
        color: @font-color-4;
        cursor: pointer;
    }
}
.content-watermark{
    width: 70%;
    right: 0;
    top: 5em;
    position: absolute;
}
/*
---------------------------
Section : Footer
---------------------------
*/

.footer {
    flex: 0 1 auto;
}

.footer-padding {
    padding: 1em 0;
}

.footer-left {
    .footer-padding;
    .right-border;
    background: @background-color-2;
    color: @font-color-2;
}

.footer-right {
    .footer-padding;
    padding-left: 2em;
    background: @background-color-3;
    box-shadow: 8px -5px 25px 0 #0d98db;
    color: @font-color-3;
}
