@import 'variables.less';
@import 'fonts.less';
@import 'media.less';
@import 'helper.less';
.user_admin_search {
    display: flex;
}
#button_active {
    background-color: #d2d3d5;
    background-image: linear-gradient(#d2d3d5 10%, #d2d3d5 90%);
    box-shadow: 0 1px 1px #d2d3d5;
    color: #6B31D7;
    font-size: 1.2em;
    .arial_bold;
}
.user_listing {
    display: none;
    &.active {
        display: block
    }
}
.search_item {
    margin: 0 1em;
    padding: .8em 0;
    border-bottom: 1px solid #f2f2f2;
    color: #f2f2f2;
    &:hover {
        color: #fff;
    }
    &>div>p{
        margin: 0;
        &.edituser_from_row{
            margin: 0 1em;
        }
    }
    &>div{
        word-wrap: break-word;
    }
}
.search_name,
.search_edit {
    display: inline-flex;
}
.search_name{
    padding: 0;
}
.search_edit {
    cursor: pointer;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}
#row_action_dropdown {
    background-color: #ebeced;
    margin-top: -9px;
    box-shadow: 0px 0px 3px #82888f;
    border-radius: 5px;
    text-align: center;
    width: 10em;
    color: black;
}
.removeuser_img {
    width: 25px;
    cursor: pointer;
}
#row_remove_dropdown {
    bckground-color: #fff;
    margin-top: -3px;
    box-shadow: 0px 0px 3px #82888f;
    border-radius: 5px;
    text-align: center;
    width: 20em;
    margin-left: -19em;
    color: black;
    height: 9em;
}
.confirm_text {
    margin-top: 8px;
    font-size: 15px;
}
.confirm_buttons {
    margin-top: 11px;
    padding: 11px;
}
.confirm_yes {
    background: #fff;
    color: #F22F2F;
    margin-right: 19px;
    border-color: red;
    border-radius: 3px;
    padding-left: 11px;
    padding-right: 11px;
    padding-top: 3px;
    padding-bottom: 3px;
    &:hover {
        background: red;
        color: #fff;
    }
}
.confirm_no {
    background: #fff;
    color: #F22F2F;
    margin-right: 19px;
    border-color: red;
    border-radius: 3px;
    padding-left: 11px;
    padding-right: 11px;
    padding-top: 3px;
    padding-bottom: 3px;
    &:hover {
        background: red;
        color: #fff;
    }
}
.add-btn {
    margin: 0 1em;
}
.search_input_box {
    display: flex;
    flex-direction: row;
    background-color: #f6f6f6;;
    font-size: 1em;
    &>input,
    &>input:focus {
        width: 100%;
        border: none;
        padding: 6px 12px;
        color: #4d4d4d;
        outline: none;
    }
    &>span {
        color: #0071bc;
        position: absolute;
    }
}
.glyp {
    padding-top: 8px;
    padding-right: 5px;
    cursor: pointer;
    margin: auto;
    margin-top: 2em;
    margin-left: -2em;
}
.page_title {
    font-size: 1.3em;
    padding-top: 2px;
    color: #fff;
    padding-left: 15px;
    margin: 0 1em 0 0;
}
#refresh_users {
    background: maroon;
    color: white;
    padding: 3px;
    display: none;
    border-radius: 3px;
    font-size: 0.9em;
    height: 20px;
    margin: auto 1em;
    cursor: pointer;
    &.active {
        display: block;
    }
}
.search_header {
    margin: 0 1em;
    border-bottom: 2px solid #f2f2f2;
}
.action_dropdown {
    width: 30px;
}
p.pagination {
    color: #333;
    display: inline-block;
    margin: 0px;
}
.p_right,
.p_left {
    cursor: pointer;
}
.assign_role_image {
    width: 25%;
    margin-right: 5px;
}
.assign_user_image {
    width: 25%;
    margin-right: 5px;
}
/*
---------------------------
Create User Section
---------------------------
*/

.back_btn {
    color: #f2f2f2;
    background-color: #808080;
    padding: 6px 22px;
    margin: 0 1em 0 0;
    &:hover,
    &:active,
    &:focus {
        color: #f2f2f2;
    }
}
.add_title {
    font-size: 1.4em;
    margin: auto 0;
}
.add_user_input {
    display: block;
    color: #fff;
    background-color: @font-color-4;
    border: 2px solid @font-color-4;
    margin: 1em;
    width: 60%;
    border-radius: .2em;
    padding: .5em;
    font-size: 1.1em;
    &::placeholder {
        color: #b2e3f5;
    }
    &:focus {
        border: 2px solid #fff;
        color: #66c7eb;
        box-shadow: 0px 0px 2px #fff;
    }
}
.form_row_margin {
    margin: 1em;
}
.accordian_margin {
    margin-left: 0;
}
.add_user_submit_button {
    color: #4d4d4d;
    background-color: #00B6F1;
    border-color: #2e6da4;
    font-size: 1.1em;
    &:hover {
        background-color: #0071bc;
        color: #fff;
    }
}
.roles {
    color: #f2f2f2;
    display: flex;
    flex-direction: column;
    &>.title {
        font-size: 1.3em;
    }
    &>span {
        font-size: .9em;
    }
}
.edit_profile_section {
    margin-bottom: 2em;
    font-size: 1.3em;
}
.edit_profile_img {
    width: 50%;
    border-radius: 100%;
    margin: 0 auto;
    height: 175px;
}
.edit_profile_input {
    width: 100%;
    margin: 1em 0;
}
.file_button {}
.file_upload {
    position: absolute;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    margin: -0.5em -1em;
    padding: 0.5em 1em;
    width: 100%;
    overflow: hidden;
}
.admin_delete_dropdown {
    margin: auto 1em;
}
.top_nav>a {
    text-decoration: none;
}
.fileUpload {
    position: relative;
    overflow: hidden;
    color: #4d4d4d;
    border-radius: .2em;
    background-color: #cde8f4;
    border: 1px solid #cde8f4;
    &:hover {
        border-radius: .2em;
        background-color: #cde8f4;
        border: 1px solid #cde8f4;
        color: #4d4d4d;
    }
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.popover {
    color: #4d4d4d;
}
.panel-title>span>a {
    text-decoration: none;
    font-size: 1.3em;
}
.pagination_col{
    text-align: right;
    padding: 0;
}
input[type=checkbox]{
    margin-right: 1em;
}
